<ux-modal
    [id]="modalId"
    class="htmlTemplateModal"
    [titleLabel]="
        modalTitleBreadcrumb?.length > 0
            ? (modalTitleBreadcrumb | appOcbModalBreadcrumb: modalTitle)
            : modalTitle
    "
    (onClose)="closeModal(false)"
    customWidth="75%"
>
    <uxModalBody>
        <edci-html-templates-form *ngIf="!isLoading" [isModal]="true" [modalData]="modalData" [eventSave]="eventSave.asObservable()" [editHtmlTemplateOid]="editHtmlTemplateOid" (onSaveEvent)="saveForm($event)"></edci-html-templates-form>
    </uxModalBody>
    <uxModalFooter>
        <edci-cb-modal-footer
            (onClose)="closeModal(false)"
            (onSave)="onSave()"
            [isDisabled]="isSaveDisabled"
        ></edci-cb-modal-footer>
    </uxModalFooter>
</ux-modal>

<div *ngIf="isLoading || isSaveDisabled" class="spinner-wrapper-full-screen">
    <mat-progress-spinner
        class="spinner"
        color="primary"
        mode="indeterminate"
        value="50"
    >
    </mat-progress-spinner>
</div>
