<div class="credential-form container">
  <div class="breadcrumb__wrapper my-4" *ngIf="!isModal">
    <edci-breadcrumb [parts]="parts"></edci-breadcrumb>
  </div>

  <div class="gray-line"></div>

  <h1 class="my-3 page-title">
    {{ modalTitle }}
  </h1>

  <div class="page-subtitle">
    {{ "credential-builder.credentials-tab.credentialSubtitle" | translate }}
  </div>
  <div class="eui-u-mb-3xl page-subtitle">
    <span>{{ "credential-builder.html-templates-tab.subtitle-help" | translate }}</span>
    <span class="mr-1 ml-1">
      <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
    </span>
    <span>{{ "credential-builder.html-templates-tab.subtitle-help-2" | translate }}</span>
  </div>

  <edci-cb-language-tabs
    *ngIf="selectedLanguages?.length > 0"
    [language]="language"
    [(selectedLanguages)]="selectedLanguages"
    (onLanguageChange)="languageTabSelected($event)"
    (onLanguageRemoved)="languageRemoved($event)"
    (onLanguageAdded)="languageAdded($event)"></edci-cb-language-tabs>

  <div class="cb-modal-form-wrapper">
    <div class="form-content-wrapper">
      <form [formGroup]="formGroup">
        <div class="form-title">
          {{ "credential-builder.credentials-tab.tabTitle" | translate }}
        </div>

        <div class="gray-line mb-5"></div>

        <!-- Title -->
        <div class="row">
          <div *ngIf="title.controls[language]" class="form-group col-6 required" [formGroup]="title">
            <label class="d-inline-flex control-label">
              {{ "credential-builder.credentials-tab.credentialTitle" | translate }}
              <!-- <span uxTooltip="{{ 'credential-builder.credentials-tab.tooltips.title' | translate }}" position="top-right" size="large">
                <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
              </span> -->
            </label>
            <input euiInputText type="text" class="form-control" [formControl]="titleControls" />
            <ng-container *ngFor="let control of title.controls | keyvalue">
              <ux-control-feedback *ngIf="control.key === language && control.value.errors?.maxlength" typeClass="danger">
                {{ "error.maxLength.4000" | translate }}
              </ux-control-feedback>
              <ux-control-feedback
                *ngIf="control.key === language && control.value.invalid && control.value.errors?.required && control.value.touched"
                typeClass="danger">
                {{ "error.required" | translate }}
              </ux-control-feedback>
              <ux-control-feedback
                *ngIf="control.key === language && control.value.invalid && control.value.errors?.onlySpaceError && control.value.touched"
                typeClass="danger">
                {{ "error.noBlankSpaceOnly" | translate }}
              </ux-control-feedback>
            </ng-container>
          </div>
        </div>

        <!-- Issuer -->
        <div class="row">
          <div class="form-group required col-12">
            <label class="d-inline-flex control-label">
              {{ "credential-builder.common.awardingBody" | translate }}
              <span uxTooltip="{{ 'credential-builder.credentials-tab.tooltips.issuer' | translate }}" position="top-right" size="large">
                <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
              </span>
            </label>
            <div class="entity-input">
              <edci-autocomplete
                [placeholder]="'credential-builder.common.placeholder.linkedOrganisation' | translate"
                entityType="organization"
                [isSingleSelection]="true"
                [isPrimaryLanguage]="isPrimaryLanguage"
                [defaultLanguage]="defaultLanguage"
                [preSelectedItems]="selectedIssuingOrganization"
                (onEntityClicked)="editEntityClicked($event)"
                (selectionChange)="onIssuingOrganizationSelectionChange($event)"
                [ngClass]="{
                  elementDisabled: !isPrimaryLanguage
                }">
              </edci-autocomplete>
              <button
                class="ml-2"
                euiButton
                [euiPrimary]="true"
                (click)="newEntityClicked('organization')"
                *ngIf="isPrimaryLanguage"
                [ngClass]="{
                  disabled: this.credentialBuilderService.isNewEntityDisabled
                }">
                {{ "common.createNew" | translate }}
              </button>
              <!-- <button euiButton class="eui-u-mr-s eui-u-mb-s" [euiPrimaryButton]="true">euiPrimary</button> -->
              <!-- <button euiButton class="eui-u-mr-s eui-u-mb-s" euiBasicButton euiPrimary>Primary</button> -->
              <!--                             <button
                                euiButton
                                [euiIconButton]="false"
                                [euiBasicButton]="true"
                                [euiSizeM]="true"
                                (click)="newEntityClicked('organization')"
                                *ngIf="isPrimaryLanguage"
                                [ngClass]="{
                                    disabled:
                                        this.credentialBuilderService
                                            .isNewEntityDisabled
                                }"
                            >
                                {{ "common.createNew" | translate }}
                                <span
                                    euiIcon
                                    iconClass="eui-icon eui-icon-add"
                                ></span>
                            </button> -->
            </div>
            <ux-control-feedback
              *ngIf="!!(issuingOrganization?.invalid && issuingOrganization?.errors?.missingContent && issuingOrganization?.touched)"
              typeClass="danger">
              {{ "error.autocompleteRequired" | translate }}
            </ux-control-feedback>

            <ux-control-feedback
            *ngIf="issuingOrganization?.invalid && issuingOrganization?.errors?.required && issuingOrganization?.touched"
            typeClass="danger">
            {{ "error.required" | translate }}
          </ux-control-feedback>
          </div>
        </div>

        <!-- Description -->
        <div class="row">
          <div *ngIf="description.controls[language]" class="form-group col-12" [formGroup]="description">
            <label class="d-inline-flex">
              {{ "common.description" | translate }}
              <span uxTooltip="{{ 'credential-builder.credentials-tab.tooltips.description' | translate }}" position="top-right" size="large">
                <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
              </span>
            </label>
            <div class="eui-textarea__wrapper">
              <textarea class="form-control eui-textarea" [formControl]="descriptionControls" rows="3"></textarea>
            </div>
            <ng-container *ngFor="let control of description.controls | keyvalue">
              <ux-control-feedback *ngIf="control.key === language && control.value.errors?.maxlength" typeClass="danger">
                {{ "error.maxLength.4000" | translate }}
              </ux-control-feedback>
            </ng-container>
          </div>
        </div>

        <!-- Further Details -->
        <div class="form-title mt-4">
          {{ "common.furtherDetails" | translate }}
        </div>

        <div class="gray-line mb-4"></div>

        <!-- Credential Validity Date -->
        <div class="row">
          <div class="col-12 d-inline-flex pl-0 pr-0">
            <div class="form-group col-6 pl-0 required">
              <label class="d-inline-flex control-label pl-3">
                {{ "credential-builder.credentials-tab.validFrom" | translate }}
                <span uxTooltip="{{ 'credential-builder.credentials-tab.tooltips.validFrom' | translate }}" position="top-right" size="large">
                  <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
                </span>
              </label>
              <ux-form-group
                [isVertical]="true"
                class="form-datepicker pl-0"
                [ngStyle]="{
                  'pointer-events': isPrimaryLanguage ? '' : 'none',
                  cursor: isPrimaryLanguage ? '' : 'not-allowed'
                }">
                <eui-datepicker
                  dateOutputFormat="DD/MM/YYYY HH:mm"
                  formControlName="validFrom"
                  [placeholder]="'dd/mm/yyyy hh:mm'"
                  [isDatetimepicker]="true"
                  (onDateSelect)="checkValidDate()"
                  [isDisabled]="language !== defaultLanguage"></eui-datepicker>
                <ux-control-feedback
                  *ngIf="validFrom.invalid && validFrom.errors?.required && validFrom.touched && !validFromValueInvalid"
                  typeClass="danger">
                  {{ "error.required" | translate }}
                </ux-control-feedback>
                <ux-control-feedback *ngIf="validFrom.invalid && validFrom.errors?.invalidDateError" typeClass="danger">
                  {{
                    "error.minDate"
                      | translate
                        : {
                            selfParam: "credential-builder.credentials-tab.validFrom" | translate,
                            dateParam: "credential-builder.credentials-tab.expiryDate" | translate
                          }
                  }}
                </ux-control-feedback>
                <ux-control-feedback *ngIf="validFrom.invalid && validFromValueInvalid" typeClass="danger">
                  {{ "error.invalidDate" | translate }}
                </ux-control-feedback>
              </ux-form-group>
            </div>

            <div class="form-group col-6 pl-0">
              <label class="d-inline-flex pl-3">
                {{ "credential-builder.credentials-tab.expiryDate" | translate }}
                <span uxTooltip="{{ 'credential-builder.credentials-tab.tooltips.expirationDate' | translate }}" position="top-right" size="large">
                  <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
                </span>
              </label>
              <ux-form-group
                [isVertical]="true"
                class="form-datepicker pl-0"
                [ngStyle]="{
                  'pointer-events': isPrimaryLanguage ? '' : 'none',
                  cursor: isPrimaryLanguage ? '' : 'not-allowed'
                }">
                <eui-datepicker
                  dateOutputFormat="DD/MM/YYYY HH:mm"
                  formControlName="expiryDate"
                  [placeholder]="'dd/mm/yyyy hh:mm'"
                  [isDatetimepicker]="true"
                  (onDateSelect)="checkValidDate()"
                  [isDisabled]="language !== defaultLanguage"></eui-datepicker>
                <ux-control-feedback *ngIf="expiryDate.invalid && expiryDate.errors?.invalidDateError" typeClass="danger">
                  {{
                    "error.maxDate"
                      | translate
                        : {
                            selfParam: "credential-builder.credentials-tab.expiryDate" | translate,
                            dateParam: "credential-builder.credentials-tab.validFrom" | translate
                          }
                  }}
                </ux-control-feedback>
                <ux-control-feedback *ngIf="expiryDateValueInvalid" typeClass="danger">
                  {{ "error.invalidDate" | translate }}
                </ux-control-feedback>
              </ux-form-group>
            </div>
          </div>
        </div>

        <!-- Type -->
        <div class="row">
          <div class="form-group col-12 required">
            <edci-controlled-list-select
              label="{{ 'credential-builder.credentials-tab.credentialType' | translate }}"
              entityType="credential"
              [required]="true"
              [activeLanguage]="language"
              [selectedLanguages]="selectedLanguages"
              formControlName="credentialType"
              (onError)="closeForm()"
              [ngClass]="{
                elementDisabled: !isPrimaryLanguage
              }"></edci-controlled-list-select>
            <ux-control-feedback *ngIf="credentialType.invalid && credentialType.errors?.required && credentialType.touched" typeClass="danger">
              {{ "error.required" | translate }}
            </ux-control-feedback>
          </div>
        </div>

        <!-- Accreditation -->
        <!--<div class="row">
          <div class="form-group col-12">
            <label class="d-inline-flex control-label">
              {{ "credential-builder.achievements-tab.accreditation" | translate }}
              <span uxTooltip="{{ 'credential-builder.achievements-tab.accreditation-text' | translate }}" position="top-right" size="large">
                <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
              </span>
            </label>
            <input euiInputText type="text" class="form-control" [formControl]="accreditation" />
          </div>
        </div>-->

        <!-- Links to other elements -->
        <div class="form-title mt-4">
          {{ "credential-builder.credentials-tab.claims" | translate }}
          <span class="required-color"> * </span>
        </div>

        <div class="gray-line"></div>

        <div class="mb-4">
          <ux-control-feedback
            *ngIf="formGroup?.errors?.requiredClaim && (achievements.touched || assessments.touched || activities.touched || entitlements.touched)"
            typeClass="danger">
            {{ "credential-builder.achievements-tab.claimsRequired" | translate }}
          </ux-control-feedback>
        </div>

        <!-- Achievements -->
        <div class="row">
          <div class="form-group col-12">
            <label class="d-inline-flex">
              {{ "credential-builder.achievements" | translate }}
              <span
                uxTooltip="{{ 'credential-builder.credentials-tab.tooltips.learningAchievements' | translate }}"
                position="top-right"
                size="large">
                <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
              </span>
            </label>
            <div class="entity-input">
              <edci-autocomplete
                entityType="achievement"
                [placeholder]="'credential-builder.common.placeholder.linkedAchievement' | translate"
                [isPrimaryLanguage]="isPrimaryLanguage"
                [preSelectedItems]="selectedAchievements"
                [defaultLanguage]="defaultLanguage"
                (onEntityClicked)="editEntityClicked($event)"
                (selectionChange)="onAchievementSelectionChange($event)"
                [ngClass]="{
                  elementDisabled: !isPrimaryLanguage
                }">
              </edci-autocomplete>

              <button class="ml-2" euiButton [euiPrimary]="true" (click)="newEntityClicked('achievement', undefined, true)" *ngIf="isPrimaryLanguage">
                {{ "common.createNew" | translate }}
              </button>

              <!-- <button
                                euiButton
                                [euiIconButton]="true"
                                [euiBasicButton]="true"
                                [euiSizeM]="true"
                                (click)="
                                    newEntityClicked(
                                        'achievement',
                                        undefined,
                                        true
                                    )
                                "
                                *ngIf="isPrimaryLanguage"
                            >
                                <span
                                    euiIcon
                                    iconClass="eui-icon eui-icon-add"
                                ></span>
                            </button> -->
            </div>
          </div>
        </div>

        <!-- Activities -->
        <div class="row">
          <div class="form-group col-12">
            <label class="d-inline-flex">
              {{ "credential-builder.credentials-tab.activities" | translate }}
              <span uxTooltip="{{ 'credential-builder.credentials-tab.tooltips.learningActivities' | translate }}" position="top-right" size="large">
                <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
              </span>
            </label>
            <div class="entity-input">
              <edci-autocomplete
                [placeholder]="'credential-builder.common.placeholder.linkedActivity' | translate"
                entityType="activity"
                [isPrimaryLanguage]="isPrimaryLanguage"
                [preSelectedItems]="selectedActivities"
                [defaultLanguage]="defaultLanguage"
                (onEntityClicked)="editEntityClicked($event)"
                (selectionChange)="onActivitySelectionChange($event)"
                [ngClass]="{
                  elementDisabled: !isPrimaryLanguage
                }">
              </edci-autocomplete>

              <button class="ml-2" euiButton [euiPrimary]="true" (click)="newEntityClicked('activity', undefined, true)" *ngIf="isPrimaryLanguage">
                {{ "common.createNew" | translate }}
              </button>

              <!--                             <button
                                euiButton
                                [euiIconButton]="true"
                                [euiBasicButton]="true"
                                [euiSizeM]="true"
                                (click)="
                                    newEntityClicked(
                                        'activity',
                                        undefined,
                                        true
                                    )
                                "
                                *ngIf="isPrimaryLanguage"
                            >
                                <span
                                    euiIcon
                                    iconClass="eui-icon eui-icon-add"
                                ></span>
                            </button> -->
            </div>
          </div>
        </div>

        <!-- Entitlements -->
        <div class="row">
          <div class="form-group col-12">
            <label class="d-inline-flex">
              {{ "credential-builder.entitlements" | translate }}
              <span
                uxTooltip="{{ 'credential-builder.credentials-tab.tooltips.learningEntitlements' | translate }}"
                position="top-right"
                size="large">
                <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
              </span>
            </label>

            <div class="entity-input">
              <edci-autocomplete
                entityType="entitlement"
                [placeholder]="'credential-builder.common.placeholder.linkedEntitlement' | translate"
                [isPrimaryLanguage]="isPrimaryLanguage"
                [preSelectedItems]="selectedEntitlements"
                [defaultLanguage]="defaultLanguage"
                (onEntityClicked)="editEntityClicked($event)"
                (selectionChange)="onEntitlementSelectionChange($event)"
                [ngClass]="{
                  elementDisabled: !isPrimaryLanguage
                }">
              </edci-autocomplete>

              <button class="ml-2" euiButton [euiPrimary]="true" (click)="newEntityClicked('entitlement', undefined, true)" *ngIf="isPrimaryLanguage">
                {{ "common.createNew" | translate }}
              </button>

              <!-- <button
                                euiButton
                                [euiIconButton]="true"
                                [euiBasicButton]="true"
                                [euiSizeM]="true"
                                (click)="
                                    newEntityClicked(
                                        'entitlement',
                                        undefined,
                                        true
                                    )
                                "
                                *ngIf="isPrimaryLanguage"
                            >
                                <span
                                    euiIcon
                                    iconClass="eui-icon eui-icon-add"
                                ></span>
                            </button> -->
            </div>
          </div>
        </div>

        <!-- Linked asssesment -->
        <div class="row">
          <div class="form-group col-12">
            <label class="d-inline-flex">
              {{ "credential-builder.credentials-tab.assessments" | translate }}
              <span uxTooltip="{{ 'credential-builder.credentials-tab.assessments.tooltip' | translate }}" position="top-right" size="large">
                <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
              </span>
            </label>

            <div class="entity-input">
              <edci-autocomplete
                [placeholder]="'credential-builder.common.placeholder.linkedAssessment' | translate"
                entityType="assessment"
                [isPrimaryLanguage]="isPrimaryLanguage"
                [preSelectedItems]="selectedAssessments"
                [defaultLanguage]="defaultLanguage"
                (onEntityClicked)="editEntityClicked($event)"
                (selectionChange)="onAssessmentSelectionChange($event)"
                [ngClass]="{
                  elementDisabled: !isPrimaryLanguage
                }">
              </edci-autocomplete>

              <button class="ml-2" euiButton [euiPrimary]="true" (click)="newEntityClicked('assessment', undefined, true)" *ngIf="isPrimaryLanguage">
                {{ "common.createNew" | translate }}
              </button>

              <!-- <button
                                euiButton
                                [euiIconButton]="true"
                                [euiBasicButton]="true"
                                [euiSizeM]="true"
                                (click)="
                                    newEntityClicked(
                                        'entitlement',
                                        undefined,
                                        true
                                    )
                                "
                                *ngIf="isPrimaryLanguage"
                            >
                                <span
                                    euiIcon
                                    iconClass="eui-icon eui-icon-add"
                                ></span>
                            </button> -->
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <p>{{ "credential-builder.credentials-tab.claims.helper" | translate }}</p>
          </div>
        </div>

        <!-- More information -->
        <div class="form-title mt-4">
          {{ "common.moreInformation" | translate }}
        </div>

        <div class="gray-line mb-4"></div>

        <!-- Custom HTML Templates -->
        <div class="row">
          <div class="form-group col-12">
            <label class="d-inline-flex">
              {{ "credential-builder.HTMLTemplates" | translate }}
              <span uxTooltip="{{ 'credential-builder.credentials-tab.tooltips.htmlTemplates' | translate }}" position="top-right" size="large">
                <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
              </span>
            </label>

            <div class="entity-input">
              <edci-autocomplete
                entityType="htmlTemplate"
                [isPrimaryLanguage]="isPrimaryLanguage"
                [isSingleSelection]="true"
                [defaultLanguage]="defaultLanguage"
                [preSelectedItems]="selectedHtmlTemplates"
                (onEntityClicked)="editEntityClicked($event)"
                (selectionChange)="onHTMLTemplateSelectionChange($event)"
                [ngClass]="{
                  elementDisabled: !isPrimaryLanguage
                }">
              </edci-autocomplete>

              <button class="ml-2" euiButton [euiPrimary]="true" (click)="newEntityClicked('htmlTemplate')" *ngIf="isPrimaryLanguage">
                {{ "common.createNew" | translate }}
              </button>
            </div>
          </div>
        </div>
        <!-- Alternative ID -->
        <!-- identifiers? -->
        <div formArrayName="identifier">
          <div class="row">
            <div class="form-group">
              <label class="d-inline-flex">
                {{ "credential-builder.credentials-tab.identifier" | translate }}
                <span uxTooltip="{{ 'credential-builder.credentials-tab.assessments.identifier' | translate }}" position="top-right" size="large">
                  <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
                </span>
              </label>
              <ng-container *ngFor="let identifierGroup of identifierGroups; let i = index; let last = last; trackByFn">
                <div [formGroupName]="i" class="d-flex row pl-0 mb-2">
                  <div class="col-5">
                    <input
                      euiInputText
                      type="text"
                      class="form-control mr-3"
                      placeholder="{{ 'common.schemeName' | translate }}"
                      formControlName="identifierName"
                      [attr.disabled]="language !== defaultLanguage ? '' : null" />
                  </div>
                  <div class="col-5">
                    <input
                      euiInputText
                      type="text"
                      class="form-control mr-3"
                      placeholder="{{ 'common.content' | translate }}"
                      formControlName="identifierContent"
                      [attr.disabled]="language !== defaultLanguage ? '' : null" />
                  </div>

                  <div class="col-2">
                    <button
                      euiButton
                      [euiIconButton]="true"
                      [euiBasicButton]="true"
                      [euiSizeM]="true"
                      (click)="addIdentifierRow()"
                      *ngIf="last"
                      [euiDisabled]="language !== defaultLanguage">
                      <span euiIcon iconClass="eui-icon eui-icon-add-circle eui-u-color-primary-110"> </span>
                      <span class="add-label"> {{ "common.add" | translate }} </span>
                    </button>
                    <button
                      euiButton
                      [euiIconButton]="true"
                      [euiBasicButton]="true"
                      [euiSizeM]="true"
                      (click)="credentialBuilderService.removeIdentifierRow(identifier, i)"
                      *ngIf="identifier.controls?.length > 1"
                      [euiDisabled]="language !== defaultLanguage">
                      <span euiIcon iconClass="eui-icon eui-icon-delete eui-u-color-primary-110"></span>
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <ux-control-feedback
                      *ngIf="identifierGroup.errors?.multipleFieldsBoundError"
                      typeClass="danger">
                      {{ "credential-builder.common.provide.bothFields" | translate }}
                    </ux-control-feedback>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="blue-line mt-5 mb-4"></div>

        <div class="row">
          <!-- label -->
          <div class="col-6">
            <div class="tags-wrapper">
              <label class="d-inline-flex control-label ml-3 tags-label">
                {{ "common.tag" | translate }}
                <span uxTooltip="{{ 'common.tooltip.tag' | translate }}" position="top-right" size="large">
                  <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
                </span>
              </label>
              <input
                euiInputText
                type="text"
                class="form-control"
                [formControl]="label"
                placeholder="{{ 'credential-builder.learning-outcomes-tab.learningOutcomeDetailsTag' | translate }}"
                [attr.disabled]="language !== defaultLanguage ? '' : null" />
              <ux-control-feedback *ngIf="label.errors?.maxlength" typeClass="danger">
                {{ "error.maxLength.30" | translate }}
              </ux-control-feedback>

              <ux-control-feedback *ngIf="label.invalid && label.errors?.onlySpaceError && label.touched" typeClass="danger">
                {{ "error.noBlankSpaceOnly" | translate }}
              </ux-control-feedback>
            </div>
          </div>

          <!-- submit button -->
          <div class="col-6 d-flex justify-content-end">
            <edci-cb-modal-footer *ngIf="!isModal" (onClose)="closeForm()" (onSave)="onSave()" [isDisabled]="isLoading"></edci-cb-modal-footer>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="isLoading" class="spinner-wrapper-full-screen">
    <mat-progress-spinner class="spinner" color="primary" mode="indeterminate" value="50"> </mat-progress-spinner>
  </div>

  <eui-message-box
    #messageBoxNewEntityWarning
    typeClass="warning"
    title="{{ 'common.warning' | translate | uppercase }}"
    acceptLabel="{{ 'Accept' | uppercase }}"
    dismissLabel="{{ 'Dismiss' | uppercase }}"
    (accept)="newEntityClicked(entityWillBeOpened, 'accept')">
    <p>{{ "credential-builder.formNewEntityWarning" | translate }}</p>
  </eui-message-box>

  <eui-message-box #messageBoxFormError typeClass="warning" title="{{ 'common.warning' | translate | uppercase }}" messageBoxType="ok">
    <p>{{ "credential-builder.formError" | translate }}</p>
  </eui-message-box>

  <edci-achievements-modal
    *ngIf="openEntityModal['achievement']?.isOpen"
    [editAchievementOid]="openEntityModal['achievement']?.oid"
    [modalId]="openEntityModal['achievement'].modalId"
    (onCloseModal)="closeNewEntityModal($event)"></edci-achievements-modal>

  <edci-organizations-modal
    *ngIf="openEntityModal['organization']?.isOpen"
    [modalId]="openEntityModal['organization'].modalId"
    [editOrganizationOid]="openEntityModal['organization']?.oid"
    (onCloseModal)="closeNewEntityModal($event)"></edci-organizations-modal>

  <edci-activities-modal
    *ngIf="openEntityModal['activity']?.isOpen"
    [modalId]="openEntityModal['activity'].modalId"
    [editActivityOid]="openEntityModal['activity']?.oid"
    (onCloseModal)="closeNewEntityModal($event)"></edci-activities-modal>

  <edci-assessments-modal
    *ngIf="openEntityModal['assessment']?.isOpen"
    [modalId]="openEntityModal['assessment'].modalId"
    [editAssessmentOid]="openEntityModal['assessment']?.oid"
    (onCloseModal)="closeNewEntityModal($event)"></edci-assessments-modal>

  <edci-entitlements-modal
    *ngIf="openEntityModal['entitlement']?.isOpen"
    [modalId]="openEntityModal['entitlement'].modalId"
    [editEntitlementOid]="openEntityModal['entitlement']?.oid"
    (onCloseModal)="closeNewEntityModal($event)"></edci-entitlements-modal>

  <edci-html-templates-modal
    *ngIf="openEntityModal['htmlTemplate']?.isOpen"
    [modalId]="openEntityModal['htmlTemplate'].modalId"
    [editHtmlTemplateOid]="openEntityModal['htmlTemplate']?.oid"
    (onCloseModal)="closeNewEntityModal($event)"></edci-html-templates-modal>
</div>
