.overflow-auto-credential-builder {
    max-height: 60vh;
    overflow: auto !important;
    word-break: break-word;

    /* width */
    &::-webkit-scrollbar {
        width: 12px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f5f3f3;
        border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #d0d0d0;
        border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #d0d0d0;
    }
}

// Remove label form-control eUI
.no-label {
    .ux-form-group__label-wrapper {
        display: none;
    }
}

// No items credential builder tab
.no-item {
    padding: 6rem 0 7rem 0;

    > .credential-icon {
        height: 7rem;
        object-fit: contain;
        opacity: 0.53;
        width: 8rem;
    }
}