eui-app-footer {
    eui-footer {
        padding: 0 !important;
        .edci-footer {
            display: flex;
            background-color: var(--eui-base-color-primary-100);
            height: 4rem;
            width: 100%;

            a {
                display: flex;
                justify-content: center;
                color: var(--eui-base-color-white) !important;
                text-decoration: underline;
                text-underline-offset: 2px;
                font-size: 15px;
            }
        }
    }
}