<div class="activity-form container">
  <div class="breadcrumb__wrapper my-4" *ngIf="!isModal">
    <edci-breadcrumb [parts]="parts"></edci-breadcrumb>
  </div>

  <div class="gray-line"></div>

  <h1 class="my-3 page-title">
    {{ modalTitle }}
  </h1>

  <div class="eui-u-mb-3xl page-subtitle">
    <p class="page-subtitle">
      {{ "credential-builder.activities-tab.orgSubtitle" | translate }}
    </p>
    <span>{{ "credential-builder.html-templates-tab.subtitle-help" | translate }}</span>
    <span class="mr-1 ml-1">
      <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
    </span>
    <span>{{ "credential-builder.html-templates-tab.subtitle-help-2" | translate }}</span>
  </div>

  <edci-cb-language-tabs
    *ngIf="selectedLanguages?.length > 0"
    [(selectedLanguages)]="selectedLanguages"
    [language]="language"
    (onLanguageChange)="languageTabSelected($event)"
    (onLanguageRemoved)="languageRemoved($event)"
    (onLanguageAdded)="languageAdded($event)"></edci-cb-language-tabs>
  <div class="cb-modal-form-wrapper">
    <div class="form-content-wrapper">
      <form class="cb-modal-form" [formGroup]="formGroup">
        <div class="form-title mb-1">
          {{ "credential-builder.activities" | translate }}
        </div>

        <div class="gray-line mb-4"></div>

        <!-- Title -->
        <div *ngIf="title.controls[language]" class="form-group required" [formGroup]="title">
          <label class="d-inline-flex control-label"
            >{{ "credential-builder.activities-tab.activityTitle" | translate }}
            <!--             <span uxTooltip="{{ 'credential-builder.activities-tab.tooltip.title' | translate }}" position="top-right" size="large">
              <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
            </span> -->
          </label>
          <input euiInputText type="text" class="form-control" [formControl]="titleControl" />
          <ng-container *ngFor="let control of title.controls | keyvalue">
            <ux-control-feedback *ngIf="control.key === language && control.value.errors?.maxlength" typeClass="danger">
              {{ "error.maxLength.4000" | translate }}
            </ux-control-feedback>
            <ux-control-feedback
              *ngIf="control.key === language && control.value.invalid && control.value.errors?.required && control.value.touched"
              typeClass="danger">
              {{ "error.required" | translate }}
            </ux-control-feedback>
            <ux-control-feedback
              *ngIf="control.key === language && control.value.invalid && control.value.errors?.onlySpaceError && control.value.touched"
              typeClass="danger">
              {{ "error.noBlankSpaceOnly" | translate }}
            </ux-control-feedback>
          </ng-container>
        </div>

        <!-- Directed by -->
        <div class="row mb-2">
          <label class="d-inline-flex">
            {{ "credential-builder.activities-tab.directedBy" | translate }}
            <span uxTooltip="{{ 'credential-builder.activities-tab.tooltips.directedBy' | translate }}" position="top-right" size="large">
              <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
            </span>
          </label>
          <div class="entity-input">
            <edci-autocomplete
              entityType="organization"
              [placeholder]="'credential-builder.common.placeholder.linkedOrganisation' | translate"
              [isPrimaryLanguage]="isPrimaryLanguage"
              [defaultLanguage]="defaultLanguage"
              [preSelectedItems]="selectedDirectedBy"
              (onEntityClicked)="editEntityClicked($event)"
              (selectionChange)="onDirectedBySelectionChange($event)"
              [ngClass]="{
                elementDisabled: !isPrimaryLanguage
              }">
            </edci-autocomplete>
            <button
              class="ml-2"
              euiButton
              [euiPrimary]="true"
              (click)="newEntityClicked('organization')"
              *ngIf="isPrimaryLanguage"
              [ngClass]="{
                disabled: this.credentialBuilderService.isNewEntityDisabled
              }">
              {{ "common.createNew" | translate }}
            </button>
          </div>
        </div>

        <!-- Awarded by -->
        <div class="row mb-2">
          <label class="d-inline-flex required">
            {{ "credential-builder.activities-tab.awardedBy" | translate }}
            <span uxTooltip="{{ 'credential-builder.activities-tab.tooltips.awardedBy' | translate }}" position="top-right" size="large">
              <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
            </span>
          </label>
          <div class="entity-input">
            <edci-autocomplete
              entityType="organization"
              [placeholder]="'credential-builder.common.placeholder.linkedOrganisation' | translate"
              [isPrimaryLanguage]="isPrimaryLanguage"
              [defaultLanguage]="defaultLanguage"
              [preSelectedItems]="selectedAwardedBy"
              (onEntityClicked)="editEntityClicked($event)"
              (selectionChange)="onAwardedBySelectionChange($event)"
              [ngClass]="{
                elementDisabled: !isPrimaryLanguage
              }">
            </edci-autocomplete>
            <button
              class="ml-2"
              euiButton
              [euiPrimary]="true"
              (click)="newEntityClicked('organization')"
              *ngIf="isPrimaryLanguage"
              [ngClass]="{
                disabled: this.credentialBuilderService.isNewEntityDisabled
              }">
              {{ "common.createNew" | translate }}
            </button>
          </div>
          <ux-control-feedback
            *ngIf="awardingBody?.errors?.requiredList && awardedByOidList.length === 0 && awardingBody?.touched"
            typeClass="danger">
            {{ "error.required" | translate }}
          </ux-control-feedback>
        </div>

        <!-- Description -->
        <div *ngIf="description.controls[language]" class="form-group" [formGroup]="description">
          <label class="d-inline-flex">
            {{ "common.description" | translate }}
            <!--             <span uxTooltip="{{ 'credential-builder.activities-tab.tooltips.description' | translate }}" position="top-right" size="large">
              <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
            </span> -->
          </label>
          <div class="eui-textarea__wrapper">
            <textarea class="form-control" [formControl]="descriptionControl" class="eui-textarea" rows="3"></textarea>
            <ng-container *ngFor="let control of description.controls | keyvalue">
              <ux-control-feedback *ngIf="control.key === language && control.value.errors?.maxlength" typeClass="danger">
                {{ "error.maxLength.4000" | translate }}
              </ux-control-feedback>
            </ng-container>
          </div>
        </div>

        <!-- Further Details -->
        <div class="form-title form-group mt-4">
          {{ "common.furtherDetails" | translate }}
        </div>

        <div class="gray-line mb-4"></div>

        <!-- Dates -->
        <div class="row">
          <div class="form-group col-6">
            <label class="d-inline-flex">
              {{ "credential-builder.activities-tab.startDate" | translate }}
              <span uxTooltip="{{ 'credential-builder.activities-tab.tooltips.startDate' | translate }}" position="top-right" size="large">
                <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
              </span>
            </label>
            <eui-datepicker
              class="px-0"
              formControlName="startDate"
              [placeholder]="'dd/mm/yyyy hh:mm'"
              dateOutputFormat="DD/MM/YYYY HH:mm"
              [isDatetimepicker]="true"
              [isDisabled]="language !== defaultLanguage"></eui-datepicker>
            <ux-control-feedback *ngIf="startDate.invalid && startDate.errors?.invalidDateError" typeClass="danger">
              {{
                "error.minDate"
                  | translate
                    : {
                        selfParam: "credential-builder.activities-tab.startDate" | translate,
                        dateParam: "credential-builder.activities-tab.endDate" | translate
                      }
              }}
            </ux-control-feedback>
            <ux-control-feedback *ngIf="startDateValueInvalid" typeClass="danger">
              {{ "error.invalidDate" | translate }}
            </ux-control-feedback>
          </div>
          <div class="form-group col-6">
            <label class="d-inline-flex">
              {{ "credential-builder.activities-tab.endDate" | translate }}
              <span uxTooltip="{{ 'credential-builder.activities-tab.tooltips.endDate' | translate }}" position="top-left" size="large">
                <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
              </span>
            </label>
            <eui-datepicker
              formControlName="endDate"
              [placeholder]="'dd/mm/yyyy hh:mm'"
              dateOutputFormat="DD/MM/YYYY HH:mm"
              [isDatetimepicker]="true"
              [isDisabled]="language !== defaultLanguage"></eui-datepicker>
            <ux-control-feedback *ngIf="startDate.invalid && startDate.errors?.invalidDateError" typeClass="danger">
              {{
                "error.maxDate"
                  | translate
                    : {
                        selfParam: "credential-builder.activities-tab.endDate" | translate,
                        dateParam: "credential-builder.activities-tab.startDate" | translate
                      }
              }}
            </ux-control-feedback>
            <ux-control-feedback *ngIf="endDateValueInvalid" typeClass="danger">
              {{ "error.invalidDate" | translate }}
            </ux-control-feedback>
          </div>
        </div>

        <div class="row form-group">
          <!-- Volume of learning -->
          <div class="col-6">
            <label class="d-inline-flex">
              {{ "credential-builder.activities-tab.learningVolume" | translate }}
              <span uxTooltip="{{ 'credential-builder.activities-tab.tooltips.learningVolume' | translate }}" position="top-right" size="large">
                <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
              </span>
            </label>
            <input
              placeholder="{{'credential-builder.common.provide.wholeNumber' |translate}}"
              euiInputText
              type="text"
              class="form-control"
              formControlName="learningVolume"
              [attr.disabled]="language !== defaultLanguage ? '' : null" />
            <ux-control-feedback *ngIf="learningVolume.errors?.pattern" typeClass="danger">
              {{ "error.number" | translate }}
            </ux-control-feedback>
            <ux-control-feedback *ngIf="learningVolume.errors?.maxlength" typeClass="danger">
              {{ "error.maxLength.9" | translate }}
            </ux-control-feedback>
          </div>

          <!-- Workload -->
          <div class="col-6">
            <label class="d-inline-flex">
              {{ "credential-builder.activities-tab.workload" | translate }}
              <span uxTooltip="{{ 'credential-builder.activities-tab.tooltips.workload' | translate }}" position="top-right" size="large">
                <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
              </span>
            </label>
            <input
              placeholder="{{'credential-builder.common.provide.wholeNumber' |translate}}"
              euiInputText
              type="text"
              class="form-control"
              formControlName="workload"
              [attr.disabled]="language !== defaultLanguage ? '' : null" />
            <ux-control-feedback *ngIf="workload.errors?.pattern" typeClass="danger">
              {{ "error.number" | translate }}
            </ux-control-feedback>
            <ux-control-feedback *ngIf="workload.errors?.maxlength" typeClass="danger">
              {{ "error.maxLength.9" | translate }}
            </ux-control-feedback>
          </div>
        </div>

        <div class="row form-group">
          <!-- Level of completion -->
          <div class="col-6">
            <label class="d-inline-flex">
              {{ "credential-builder.activities-tab.completionLevel" | translate }}
              <span uxTooltip="{{ 'credential-builder.activities-tab.tooltips.completionLevel' | translate }}" position="top-right" size="large">
                <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
              </span>
            </label>
            <input
              euiInputText
              type="text"
              class="form-control"
              formControlName="completionLevel"
              [attr.disabled]="language !== defaultLanguage ? '' : null" />
            <ux-control-feedback *ngIf="completionLevel.errors?.pattern" typeClass="danger">
              {{ "error.number" | translate }}
            </ux-control-feedback>
            <ux-control-feedback *ngIf="completionLevel.errors?.maxlength" typeClass="danger">
              {{ "error.maxLength.9" | translate }}
            </ux-control-feedback>
          </div>
          <!-- Learning Activity Type -->
          <div class="col-6">
            <edci-controlled-list-select
              label="{{ 'credential-builder.activities-tab.learningActivityType' | translate }}"
              entityType="learning-activity"
              [activeLanguage]="language"
              [selectedLanguages]="selectedLanguages"
              formControlName="learningActivityType"
              [ngClass]="{
                elementDisabled: !isPrimaryLanguage
              }"></edci-controlled-list-select>
          </div>
        </div>

        <div class="row">
          <!-- Learning Mode -->
          <div class="col-6">
            <edci-controlled-list-select
              label="{{ 'credential-builder.activities-tab.modeOfLearning' | translate }}"
              tooltip="{{ 'credential-builder.activities-tab.tooltips.modeOfLearning' | translate }}"
              entityType="learning-assessment"
              [activeLanguage]="language"
              [selectedLanguages]="selectedLanguages"
              formControlName="modeOfLearning"
              [ngClass]="{
                elementDisabled: !isPrimaryLanguage
              }"></edci-controlled-list-select>
          </div>

          <!-- Language of instruction -->
          <div class="col-6">
            <label class="d-inline-flex"
              >{{ "credential-builder.activities-tab.languagesOfInstruction" | translate }}
              <span uxTooltip="{{ 'credential-builder.activities-tab.tooltip.instructionLanguage' | translate }}" position="top-right" size="large">
                <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
              </span>
            </label>
            <edci-controlled-list
              entityType="language"
              [itemsSelected]="activityLanguage"
              [isPrimaryLanguage]="isPrimaryLanguage"
              [selectedLanguages]="selectedLanguages"
              [activeLanguage]="language"
              (onError)="closeForm()"
              (onItemsSelectionChange)="activityLanguageSelectionChange($event)"
              [ngClass]="{
                elementDisabled: !isPrimaryLanguage
              }"></edci-controlled-list>
          </div>
        </div>

        <!-- address  -->
        <div class="form-group" formArrayName="locations">
          <div class="row mb-2">
            <div class="col-12 pl-3">
              <label class="">
                {{ "credential-builder.activities-tab.activity.took.place" | translate }}
                <span
                  uxTooltip="{{ 'credential-builder.activities-tab.tooltips.activity.took.place' | translate }}"
                  position="top-right"
                  size="large">
                  <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
                </span>
              </label>
            </div>
          </div>

          <div
            *ngFor="let addressCtrl of locations.controls; let i = index; let first = first; trackByFn"
            [formGroupName]="i"
            class="block-container">
            <edci-address-form
              [formGroup]="getLocationById(i)"
              [language]="language"
              [isPrimaryLanguage]="isPrimaryLanguage"
              [selectedLanguages]="selectedLanguages"
              [isFirstGroupMember]="first"
              [itemIndex]="i"
              (deleteRow)="onDeleteLocationRow($event)"
              (addRow)="onAddLocationRow()"
              (onClose)="closeForm()"
              [showAddBtn]="true"></edci-address-form>
          </div>
        </div>

        <!-- Links to other elements -->
        <div class="form-title form-group mt-4">
          {{ "common.linksOtherElements" | translate }}
        </div>

        <div class="gray-line mb-4"></div>

        <!-- Sub Activities -->
        <div class="form-group">
          <label class="d-inline-flex">
            {{ "credential-builder.activities-tab.subActivities" | translate }}
            <span uxTooltip="{{ 'credential-builder.activities-tab.tooltips.subActivities' | translate }}" position="top-right" size="large">
              <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
            </span>
          </label>

          <div class="entity-input">
            <edci-autocomplete
              entityType="activity"
              [placeholder]="'credential-builder.activities-tab.placholder.subActivities' |translate"
              (onEntityClicked)="editEntityClicked($event)"
              (selectionChange)="onSubActivitiesSelectionChange($event)"
              [isPrimaryLanguage]="isPrimaryLanguage"
              [defaultLanguage]="defaultLanguage"
              [preSelectedItems]="selectedSubActivities"
              [mainItemOid]="editActivityOid"
              [ngClass]="{
                elementDisabled: !isPrimaryLanguage
              }">
            </edci-autocomplete>
            <button class="ml-2" euiButton [euiPrimary]="true" (click)="newEntityClicked('activity', undefined, true)" *ngIf="isPrimaryLanguage">
              {{ "common.createNew" | translate }}
            </button>
          </div>
        </div>

        <!-- More Information -->
        <div class="form-title form-group mt-4">
          {{ "credential-builder.activities-tab.moreInfo" | translate }}
        </div>

        <div class="gray-line mb-4"></div>

        <!-- Alternative name -->
        <div *ngIf="specificationTitle.controls[language]" class="form-group required" [formGroup]="specificationTitle">
          <label class="d-inline-flex control-label"
            >{{ "common.title" | translate }}
          </label>
          <input euiInputText type="text" class="form-control" [formControl]="specificationTitleControl" />
          <ng-container *ngFor="let control of specificationTitle.controls | keyvalue">
            <ux-control-feedback *ngIf="control.key === language && control.value.errors?.maxlength" typeClass="danger">
              {{ "error.maxLength.4000" | translate }}
            </ux-control-feedback>
            <ux-control-feedback
              *ngIf="control.key === language && control.value.invalid && control.value.errors?.required && control.value.touched"
              typeClass="danger">
              {{ "error.required" | translate }}
            </ux-control-feedback>
            <ux-control-feedback
              *ngIf="control.key === language && control.value.invalid && control.value.errors?.onlySpaceError && control.value.touched"
              typeClass="danger">
              {{ "error.noBlankSpaceOnly" | translate }}
            </ux-control-feedback>
          </ng-container>
        </div>

        <!-- Additional Info -->
        <edci-more-information
          *ngIf="language"
          [headerLabel]="'credential-builder.activities-tab.moreInformation' | translate"
          [additionalFieldsTooltip]="'credential-builder.activities-tab.tooltips.additionalFields' | translate"
          [activeLanguage]="language"
          [selectedLanguages]="selectedLanguages"
          [removedLanguage]="removedLanguage"
          [addedLanguage]="addedLanguage"
          [defaultLanguage]="defaultLanguage"
          [additionalNoteToEdit]="additionalNoteSpecView"
          [activeLanguage]="language"
          (onValueChange)="additionalNoteSpecificationValueChange($event)"
          (isValid)="additionalNoteSpecificationValidityChange($event)">
        </edci-more-information>

        <!-- Description -->
        <!--         <div *ngIf="specificationDescription.controls[language]" class="form-group" [formGroup]="specificationDescription">
          <label class="d-inline-flex">
            {{ "common.description" | translate }}
            <span uxTooltip="{{ 'credential-builder.activities-tab.tooltips.description' | translate }}" position="top-right" size="large">
              <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
            </span>
          </label>
          <div class="eui-textarea__wrapper">
            <textarea class="form-control" [formControl]="specificationDescriptionControl" class="eui-textarea" rows="3"></textarea>
            <ng-container *ngFor="let control of specificationDescription.controls | keyvalue">
              <ux-control-feedback *ngIf="control.key === language && control.value.errors?.maxlength" typeClass="danger">
                {{ "error.maxLength.4000" | translate }}
              </ux-control-feedback>
            </ng-container>
          </div>
        </div> -->

        <!-- Contact hours -->
        <div class="form-group">
          <label class="d-inline-flex">
            {{ "credential-builder.activities-tab.contactHours" | translate }}
            <span uxTooltip="{{ 'credential-builder.activities-tab.tooltips.contactHours' | translate }}" position="top-right" size="large">
              <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
            </span>
          </label>
          <input
            placeholder="{{'credential-builder.common.provide.wholeNumber' |translate}}"
            euiInputText
            type="text"
            class="form-control"
            formControlName="contactHours"
            [attr.disabled]="language !== defaultLanguage ? '' : null" />
          <ux-control-feedback *ngIf="contactHours.errors?.pattern" typeClass="danger">
            {{ "error.number" | translate }}
          </ux-control-feedback>
          <ux-control-feedback *ngIf="contactHours.errors?.maxlength" typeClass="danger">
            {{ "error.maxLength.9" | translate }}
          </ux-control-feedback>
        </div>

        <!-- Homepage -->
        <div class="form-group">
          <label class="d-inline-flex">
            {{ "credential-builder.activities-tab.homePage" | translate }}
            <span uxTooltip="{{ 'credential-builder.activities-tab.tooltips.homePage' | translate }}" position="top-right" size="large">
              <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
            </span>
          </label>
          <input
            placeholder="{{'common.public.access.URL' | translate }}"
            euiInputText
            type="text"
            class="form-control"
            formControlName="homePage"
            [attr.disabled]="language !== defaultLanguage ? '' : null" />
          <ux-control-feedback *ngIf="homePage.errors?.maxlength" typeClass="danger">
            {{ "error.maxLength.255" | translate }}
          </ux-control-feedback>
          <ux-control-feedback *ngIf="homePage.invalid && homePage.errors?.pattern && homePage.touched" typeClass="danger">
            {{ "error.urlPattern" | translate }}
          </ux-control-feedback>
        </div>

        <!-- Other Documents -->
        <div formArrayName="supplementaryDocument">
          <div class="form-group">
            <label class="d-inline-flex">
              {{ "credential-builder.assessment-tab.otherDocuments" | translate }}
              <span uxTooltip="{{ 'credential-builder.activities-tab.tooltips.otherDocuments' | translate }}" position="top-right" size="large">
                <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
              </span>
            </label>
            <ng-container *ngFor="let otherDocuments of supplementaryDocument.controls; let i = index; let last = last">
              <div [formGroupName]="i" class="row mb-2">
                <div class="col-5">
                  <input
                    euiInputText
                    type="text"
                    class="form-control mr-3"
                    placeholder="{{ 'common.title' | translate }}"
                    formControlName="webDocumentTitle"
                    [attr.disabled]="language !== defaultLanguage ? '' : null" />

                  <ux-control-feedback *ngIf="supplementaryDocument.controls[i]['controls'].webDocumentTitle.errors?.maxlength" typeClass="danger">
                    {{ "error.maxLength.255" | translate }}
                  </ux-control-feedback>
                </div>

                <div class="col-5">
                  <input
                    placeholder="{{'common.public.access.URL' | translate }}"
                    euiInputText
                    type="text"
                    class="form-control mr-3"
                    formControlName="webDocumentContent"
                    [attr.disabled]="language !== defaultLanguage ? '' : null" />
                  <ux-control-feedback *ngIf="supplementaryDocument.controls[i].errors?.webDocumentError" typeClass="danger">
                    {{ "error.webDocument" | translate }}
                  </ux-control-feedback>
                  <ux-control-feedback
                    *ngIf="
                      supplementaryDocument.controls[i]['controls'].webDocumentContent.invalid &&
                      supplementaryDocument.controls[i]['controls'].webDocumentContent.errors?.pattern &&
                      supplementaryDocument.controls[i]['controls'].webDocumentContent.touched
                    "
                    typeClass="danger">
                    {{ "error.urlPattern" | translate }}
                  </ux-control-feedback>
                  <ux-control-feedback *ngIf="supplementaryDocument.controls[i]['controls'].webDocumentContent.errors?.maxLength" typeClass="danger">
                    {{ "error.maxLength.255" | translate }}
                  </ux-control-feedback>
                </div>

                <div class="col-2">
                  <button
                    euiButton
                    [euiIconButton]="true"
                    [euiBasicButton]="true"
                    [euiSizeM]="true"
                    (click)="credentialBuilderService.addOtherDocumentRow(supplementaryDocument)"
                    *ngIf="last"
                    [euiDisabled]="language !== defaultLanguage">
                    <span euiIcon iconClass="eui-icon eui-icon-add-circle eui-u-color-primary-110"> </span>
                    <span class="add-label"> {{ "common.add" | translate }} </span>
                  </button>
                  <button
                    euiButton
                    [euiIconButton]="true"
                    [euiBasicButton]="true"
                    [euiSizeM]="true"
                    (click)="credentialBuilderService.removeOtherDocumentRow(supplementaryDocument, i)"
                    *ngIf="supplementaryDocument.controls?.length > 1"
                    [euiDisabled]="language !== defaultLanguage">
                    <span euiIcon iconClass="eui-icon eui-icon-delete eui-u-color-primary-110"></span>
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="blue-line mt-5 mb-4"></div>

        <div class="row">
          <div class="col-6">
            <!-- Additional fields -->
            <div class="tags-wrapper">
              <label class="d-inline-flex control-label ml-3 tags-label">
                {{ "common.tag" | translate }}
                <span uxTooltip="{{ 'common.tooltip.tag' | translate }}" position="top-right" size="large">
                  <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
                </span>
              </label>
              <input euiInputText placeholder="{{'credential-builder.activities-tab.placeholder.tag' |translate }}" type="text" class="form-control" [formControl]="label" [attr.disabled]="language !== defaultLanguage ? '' : null" />
              <ux-control-feedback *ngIf="label.errors?.maxlength" typeClass="danger">
                {{ "error.maxLength.30" | translate }}
              </ux-control-feedback>

              <ux-control-feedback *ngIf="label.invalid && label.errors?.onlySpaceError && label.touched" typeClass="danger">
                {{ "error.noBlankSpaceOnly" | translate }}
              </ux-control-feedback>
            </div>
          </div>
          <div class="col-6 justify-content-end d-flex">
              <edci-cb-modal-footer *ngIf="!isModal" (onClose)="closeForm()" (onSave)="onSave()" [isDisabled]="isLoading"></edci-cb-modal-footer>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="isLoading" class="spinner-wrapper-full-screen">
    <mat-progress-spinner class="spinner" color="primary" mode="indeterminate" value="50"> </mat-progress-spinner>
  </div>

  <eui-message-box
    #messageBoxNewEntityWarning
    typeClass="warning"
    title="{{ 'common.warning' | translate | uppercase }}"
    acceptLabel="{{ 'Accept' | uppercase }}"
    dismissLabel="{{ 'Dismiss' | uppercase }}"
    (accept)="newEntityClicked(entityWillBeOpened, 'accept')">
    <p>{{ "credential-builder.formNewEntityWarning" | translate }}</p>
  </eui-message-box>

  <eui-message-box #messageBoxFormError typeClass="warning" title="{{ 'common.warning' | translate | uppercase }}" messageBoxType="ok">
    <p>{{ "credential-builder.formError" | translate }}</p>
  </eui-message-box>

  <edci-organizations-modal
    *ngIf="openEntityModal['organization']?.isOpen"
    [modalId]="openEntityModal['organization'].modalId"
    [editOrganizationOid]="openEntityModal['organization'].oid"
    (onCloseModal)="closeNewEntityModal($event)"></edci-organizations-modal>

  <edci-activities-modal
    *ngIf="openEntityModal['activity']?.isOpen"
    [modalId]="openEntityModal['activity'].modalId"
    [editActivityOid]="openEntityModal['activity'].oid"
    (onCloseModal)="closeNewEntityModal($event)"></edci-activities-modal>
</div>
