//@import 'global/variables.scss';
@import "./../../../../assets/styles/global/variables.scss";

.overview-page {
  a {
    transition: 0.13s all ease-in-out;

    &.disabled {
      color: $gray-dark;
      cursor: default;
      pointer-events: none;
    }
  }

  #overview-page__info {
    .hint-text {
      color: $placeholder-text;
    }
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0 !important;
  }

  thead {
    border-radius: 5px 0 0 5px;

    tr {
      background: #edf1f4;

      th {
        color: #333;
        font-size: 1rem;
        font-weight: 600;
        padding: 1rem;
        text-transform: uppercase;
        vertical-align: middle;
        word-break: break-word;
      }
    }
  }

  tbody {
    border-radius: 0 5px 5px 0;

    tr {
      &:nth-child(even) {
        background: #fbfcfe;
      }

      td {
        padding: 1rem;
        vertical-align: middle;
        word-break: break-word;

        &.align-center {
          text-align: center;
        }

        &.actions_column {
          font-size: 22px;

          >a+a {
            margin-left: 1rem;
          }
        }
      }
    }
  }

  .course {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .pointer {
    cursor: pointer;
  }

  //Post migration

  .eui-card {
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%),
      0 3px 14px 2px rgb(0 0 0 / 12%);
    border-radius: 15px;

    .eui-card-content {
      border-radius: 15px;

      table.eui-table {

        .eui-icon {
          cursor: pointer;
        }

        thead {
          tr {
            th {
              text-align: left;
              vertical-align: middle;

              &.align-center {
                text-align: center;
              }
            }
          }
        }
      }

      .table_footer {
        padding: 1em;

        .row {
          display: flex;
        }

        .button-footer {
          padding: 1em;
          border-radius: 10px;
        }

        .eui-table-paginator {
          flex-direction: row;
          margin: 0;
        }

        .eui-table-paginator__page-navigation {
          order: 2;
        }

        .eui-table-paginator__page {
          order: 1;
        }
      }
    }
  }
}

.loading-shade {
  align-items: center;
  background: rgba(113, 113, 113, 0.15);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;

  .loading-shade__wrapper {
    align-items: center;
    background: white;
    border: 6px solid $ongoing;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 750px;
    padding: 20px;

    .mat-progress-spinner circle,
    .mat-spinner circle {
      stroke: $ongoing;
    }

    span {
      display: block;
      margin-top: 20px;
    }
  }
}

.buttons-footer {
  text-align: right !important;

  .button-footer {
    min-width: 10rem;
    margin-left: 1rem !important;
    padding: 1em;
  }

  .csv-box {
    cursor: pointer;
    display: flex;
    left: 4px;
    position: relative;

    .text {
      font-size: 0.9rem;
      font-weight: bold;
      margin-left: 1rem;
      margin-top: 0.15rem;
    }
  }

  .left-button {
    margin: 0 !important;
  }

  .disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

.success {
  color: #467a39;
}

.danger {
  color: #da2130;
}

.mat-checkbox-styles--changed-background {
  .mat-checkbox-inner-container {
    .mat-checkbox-background {
      background-color: var(--eui-base-color-primary-100) !important;
    }
  }
}

.checkbox-cell {
  width: 60px;
  height: 60px;
  padding-top: 20px !important;
  padding-left: 20px !important;
  vertical-align: unset !important;
}

.issue-other-button {
  align-items: flex-end;
  text-align: right;
}

.checkbox {
  padding-left: 2.2rem !important;

  ux-form-control {
    padding-left: 0rem !important;
  }
}

.eui-dialog__header-title {
  color: var(--eui-base-color-grey-75);
}

.delete-file {
  color: var(--eui-base-color-primary-100);
  cursor: pointer;
}

.flex-container-custom {
  align-items: end;
  display: flex;
}

.eui-dialog__footer:has(#mandatedDialog) {
  background: white;
  border-top: none;
}