#home-page {
    > .main-links {
        display: flex;
        justify-content: space-around;
        padding: 40px 0;
    }

    > section.home-section {
        line-height: 1.5rem;
        padding: 50px 0;
        display: flex;
        align-items: center;

        &:first-of-type {
            background: #f5f5f5;
            border-bottom: 1px solid #ececec;
            border-top: 1px solid #ececec;
            padding: 55px 0;
        }

        h1 {
            color: #214591;
            font-size: 2.5rem;
            font-weight: 600;
            margin-bottom: 1.5rem;
            padding-bottom: 1.5rem;
            position: relative;
            text-align: center;

            &::after {
                background: #214591;
                bottom: 0;
                content: '';
                height: 2px;
                left: 50%;
                position: absolute;
                transform: translateX(-50%);
                width: 125px;
            }
        }

        .home-section__content {
            p {
                font-size: 1.3rem;
            }
        }
    }

    .prepare-section {
        margin: auto;
        .prepare-box {
            padding-bottom: 3rem;
            border-bottom: 1px solid #bdbdbd!important;

            h1 {
                font-weight: bold;
                margin-bottom: 0;
                margin-top: 3rem;
            }

            .box-container{
                display: flex;

                .num-selection {
                    color: gainsboro;
                    font-size: 8rem;
                    font-weight: bold;
                }

                .description {
                    padding-top: 1.5rem;
        
                    p {
                        font-size: 1.3rem;
                    }
                }

                .icon-navigation {
                    cursor: pointer;
                    display: inline-block;
                    margin-left: 4rem;
                    text-align: center;
                    vertical-align: top;
                    width: 9rem;
        
                    &.button-disabled {
                        cursor: default;
                        filter: grayscale(100%) brightness(2);
                    }
        
                    span {
                        color: #214591;
                        display: block;
                        font-weight: bold;
                        margin: 1.3rem 0;
                    }
                }

            }

        }

        .prepare-box:last-child {
            border: unset !important;
        }

        .disabled {
            cursor: auto !important;
        }
        
    }
}
