.controlled-list__component {
    .mat-input-element {
        margin: 0px 0 0 0  !important;
        padding: calc(var(--eui-base-spacing-s) - 1px);
    }

    > eui-autocomplete input {
        height: 38.5px !important;
    }
}


.eui-input-group-addon{
    i{
        align-self:start;
        padding: var(--eui-base-spacing-s) 0 0 var(--eui-base-spacing-s);
        color:var(--eui-base-color-primary-100);
        font-size:var(--eui-base-font-size-xl);
    }
}
