@import "assets/styles/global/variables.scss";
@import "assets/styles/global/utility.scss";
@import "assets/styles/icons.scss";
@import "assets/styles/buttons.scss";
@import "assets/styles/spinner.scss";
@import "assets/styles/banner-top.scss";
@import "assets/styles/footer.scss";
@import "assets/styles/progress-bar.scss";
@import "assets/styles/toastr.scss";
@import "assets/styles/textarea/textarea.scss";
@import "assets/styles/tables.scss";
@import "assets/styles/credential-builder.scss";
@import "assets/styles/form.scss";
@import "assets/styles/autocomplete.scss";
@import "assets/styles/datepicker.scss";
@import "assets/styles/modal.scss";


* {
    font-family: Arial;
}

html {
    scroll-behavior: smooth;
}

label {
    margin-bottom: 0;
}

body {
    background: var(--eui-base-color-white) !important;
    min-width: 865px;
    height: auto;
    overflow: auto;
    width: auto !important;
}

main {
    padding-bottom: 256px;
}