//@import 'global/variables.scss';
@import './../../../assets/styles/global/variables.scss';
#credential-builder-main {
    padding-bottom: 6rem;

    &.edci-container {
        //padding-bottom: 6rem;
        width: 95rem !important;

        h1 {
            font-weight: 700 !important;
        }

        .description-text {
            border-left-color: rgb(51, 51, 51) !important;
            border-top-color: rgb(51, 51, 51) !important;
            font-size: 17.5px !important;
            margin-block-end: 14px !important;
            margin-bottom: 14px !important;
            padding-bottom: 21px !important;
            -webkit-font-smoothing: subpixel-antialiased !important;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
            -webkit-border-image: none !important;
        }
        .eui-tab-content-wrapper {
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.07) !important;
            padding: 1.75rem;
            border-top: none !important;
        }
        .mat-chip {
            &.ux-chip {
                background-color: #fff;
                border: 1px solid black;
                margin-bottom: 0 !important;

                .ux-chips-list__chip-label {
                    color: rgba(0, 0, 0, 0.87) !important;
                    width: 100%;
                }

                .ux-chip--remove-icon {
                    color: rgba(0, 0, 0, 0.87) !important;
                }

                &:hover {
                    border: 1px solid $blue-text;

                    .ux-chips-list__chip-label {
                        color: $blue-text !important;
                    }
                }
            }
        }
    }
    
    #navigationEntitiesTabWrapper .eui-tabs .eui-tab-item:nth-child(2) {
        padding-right: 0px;
        padding-left: 0px;
        height: 38px;
    }
    
}
