@import '/src/assets/styles/textarea/textarea.scss';

.credentialModal {
    .cb-modal-form-wrapper {
        font-size: 14px;

        .contenedor {
            background-color: #fff;
            color: #004494;
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;

            .item {
                align-items: center !important;
                border: 1px solid #bdbdbd;
                border-radius: 3px;
                color: rgb(189, 189, 189) !important;
                display: flex !important;
                height: auto !important;
                margin: 0 !important;
                min-height: 33.5px !important;
                padding: 0.375rem 0.75rem;
                pointer-events: none;
            }
        }
    }

    .modal-button-accept {
        padding: 0.8rem 4rem;
    }

    .modal-button-dismiss {
        padding: 0.7rem 3.9rem;
    }

    .ui-multiselect .ui-multiselect-panel {
        width: 100%;
    }

    .mat-input-element {
        margin: 0 !important;
    }

    .entity-input {
        align-items: baseline;
        display: flex !important;

        edci-autocomplete {
            flex-grow: 1;
        }
    }

    .form-datepicker {
        input,
        button {
            //height: 36.8px;
            position: relative;
        }
    }
}

.contenedor {
    background-color: #fff;
    color: #004494;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;

    .item-disabled {
        align-items: center !important;
        border: 1px solid #bdbdbd;
        border-radius: 3px;
        color: rgb(189, 189, 189) !important;
        display: flex !important;
        height: auto !important;
        margin: 0 !important;
        margin-right: 5px !important;
        min-height: 33.5px !important;
        padding: 0.375rem 0.75rem;
        pointer-events: none;
    }

    .item-enabled {
        align-items: center !important;
        border: 1px solid black;
        border-radius: 3px;
        color: black !important;
        display: flex !important;
        height: auto !important;
        margin: 0 !important;
        min-height: 33.5px !important;
        padding: 0.375rem 0.75rem;
        width: 100%;

        &:hover {
            border: 1px solid #004494;
            color: #004494;
        }

        span {
            color: #979797 !important;
            margin-left: 0.25rem;
            margin-right: 0.25rem;

            &:hover {
                color: black !important;
            }
        }
    }
}

edci-credentials {
    ux-form-group div div {
        padding-left: 0px !important;
    }

    input {
        height: 38.5px !important;
    }
}
