<div id="edci-cb-tab-header" class="row">
    <h5 class="section-title mt-0 mb-0" [innerHTML]="title"></h5>
    <div>
        <button
            euiButton
            class=".cb-header-button"
            [euiPrimary]="true"
            [disabled]="isDisabled"
            (click)="onClick.emit($event)"
        >
            {{ buttonLabel }}
        </button>
    </div>
</div>
