<div class="organization-form container">
  <div class="breadcrumb__wrapper my-4" *ngIf="!isModal">
    <edci-breadcrumb [parts]="parts"></edci-breadcrumb>
  </div>

  <div class="gray-line"></div>

  <h1 class="my-3 page-title">
    {{ modalTitle }}
  </h1>

  <div class="eui-u-mb-3xl page-subtitle">
    <p class="page-subtitle">
      {{ "credential-builder.activities-tab.orgSubtitle" | translate }}
    </p>
    <span>{{ "credential-builder.html-templates-tab.subtitle-help" | translate }}</span>
    <span class="mr-1 ml-1">
      <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
    </span>
    <span>{{ "credential-builder.html-templates-tab.subtitle-help-2" | translate }}</span>
  </div>

  <edci-cb-language-tabs
    *ngIf="selectedLanguages?.length > 0"
    [(selectedLanguages)]="selectedLanguages"
    [language]="language"
    (onLanguageChange)="languageTabSelected($event)"
    (onLanguageRemoved)="languageRemoved($event)"
    (onLanguageAdded)="languageAdded($event)"></edci-cb-language-tabs>
  <div class="cb-modal-form-wrapper">
    <div class="form-content-wrapper">
      <form class="cb-modal-form" [formGroup]="formGroup">
        <div class="">
          <div class="form-title">
            {{ "credential-builder.organizations-tab.subtitle.orgInfo" | translate }}
          </div>
          <div class="gray-line mb-4"></div>
        </div>

        <div class="row">
          <div *ngIf="preferredName.controls[language]" class="form-group col-6 required" [formGroup]="preferredName">
            <label class="d-inline-flex control-label">
              {{ "credential-builder.organizations-tab.preferredName" | translate }}
              <span uxTooltip="{{ 'credential-builder.organizations-tab.tooltips.preferredName' | translate }}" position="top-right" size="large">
                <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
              </span>
            </label>
            <input euiInputText type="text" class="form-control" [formControl]="preferredNameControl" />
            <ng-container *ngFor="let control of preferredName.controls | keyvalue">
              <ux-control-feedback *ngIf="control.key === language && control.value.errors?.maxlength" typeClass="danger">
                {{ "error.maxLength.4000" | translate }}
              </ux-control-feedback>

              <ux-control-feedback
                *ngIf="control.key === language && control.value.invalid && control.value.errors?.required && control.value.touched"
                typeClass="danger">
                {{ "error.required" | translate }}
              </ux-control-feedback>
              <ux-control-feedback
                *ngIf="control.key === language && control.value.invalid && control.value.errors?.onlySpaceError && control.value.touched"
                typeClass="danger">
                {{ "error.noBlankSpaceOnly" | translate }}
              </ux-control-feedback>
            </ng-container>
          </div>

          <div *ngIf="alternativeName.controls[language]" class="form-group col-6" [formGroup]="alternativeName">
            <label class="d-inline-flex control-label"
              >{{ "credential-builder.organizations-tab.alternativeName" | translate }}

              <span uxTooltip="{{ 'credential-builder.organizations-tab.tooltips.commonName' | translate }}" position="top-right" size="large">
                <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
              </span>
            </label>
            <input euiInputText type="text" class="form-control" [formControl]="alternativeNameControl" />
            <ng-container *ngFor="let control of alternativeName.controls | keyvalue">
              <ux-control-feedback *ngIf="control.key === language && control.value.errors?.maxlength" typeClass="danger">
                {{ "error.maxLength.4000" | translate }}
              </ux-control-feedback>
            </ng-container>
          </div>
        </div>

        <!-- Homepage -->
        <div class="form-group">
          <label class="d-inline-flex control-label"
            >{{ "credential-builder.organizations-tab.homePage" | translate }}

            <span uxTooltip="{{ 'credential-builder.organizations-tab.tooltips.homepage' | translate }}" position="top-right" size="large">
              <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
            </span>
          </label>
          <input
            placeholder="{{ 'common.public.access.URL' | translate }}"
            euiInputText
            type="text"
            class="form-control"
            formControlName="homePage"
            [attr.disabled]="language !== defaultLanguage ? '' : null" />
          <ux-control-feedback *ngIf="homePage.errors?.maxlength" typeClass="danger">
            {{ "error.maxLength.255" | translate }}
          </ux-control-feedback>
          <ux-control-feedback *ngIf="homePage.invalid && homePage.errors?.pattern && homePage.touched" typeClass="danger">
            {{ "error.urlPattern" | translate }}
          </ux-control-feedback>
        </div>

        <!-- Logo -->
        <div class="form-group">
          <label class="d-inline-flex">
            {{ "credential-builder.organizations-tab.logo" | translate }}
            <span uxTooltip="{{ 'credential-builder.organizations-tab.tooltips.logo' | translate }}" position="top-right" size="large">
              <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
            </span>
          </label>
          <div>
            <div *ngIf="logoPreviewURL" style="display: flex">
              <img
                src="{{ logoPreviewURL }}"
                [height]="isLogoNotAvailable ? '100' : '200'"
                [title]="isLogoNotAvailable ? 'Preview not available' : ''"
                class="mb-3" />
              <button
                [disabled]="!isPrimaryLanguage"
                euiButton
                [euiIconButton]="true"
                [euiBasicButton]="true"
                [euiSizeM]="true"
                (click)="deleteLogo()">
                <span euiIcon iconClass="eui-icon eui-icon-delete eui-u-color-primary-110"></span>
              </button>
            </div>
            <edci-upload
              [disabled]="!isPrimaryLanguage"
              styleClass="logo-upload-button"
              [label]="'credential-builder.organizations-tab.upload-logo' | translate"
              [isIconOnly]="false"
              [isSecondary]="true"
              [allowedFiles]="imageExtensions"
              [needsConfirmation]="false"
              [maxUploadSizeMBCustom]="1"
              (newDocuments)="onNewDocument($event)"></edci-upload>
          </div>
        </div>

        <div class="mt-4">
          <div class="form-title">
            {{ "common.furtherDetails" | translate }}
          </div>
          <div class="gray-line mb-4"></div>
        </div>

        <div class="row d-inline-flex px-0">
          <!-- Legal Identifier -->
          <div class="form-group col-6 required d-block">
            <label class="d-inline-flex control-label">
              {{ "credential-builder.organizations-tab.legalIdentifier" | translate }}
              <span uxTooltip="{{ 'credential-builder.organizations-tab.tooltips.legalIdentifier' | translate }}" position="top-right" size="large">
                <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
              </span>
            </label>
            <div class="d-flex" formGroupName="legalIdentifier">
              <div class="row">
                <!--                                 <div class="col-6">
                                    <input euiInputText type="text" class="form-control" formControlName="spatialId"
                                        [attr.disabled]="
                                            language !== defaultLanguage
                                                ? ''
                                                : null
                                        " placeholder="{{
                                            'common.typing' | translate
                                        }}" />
                                </div> -->

                <!-- Legal Identifier Spatial ID -->
                <div class="required col-6">
                  <edci-controlled-list
                    entityType="country"
                    [isSingleSelection]="true"
                    [isPrimaryLanguage]="isPrimaryLanguage"
                    [selectedLanguages]="selectedLanguages"
                    [itemsSelected]="legalIdentifierSpatialId.value"
                    [activeLanguage]="language"
                    (onError)="closeForm()"
                    (onItemSelectionChange)="onSpatialIdSelection($event, 'legalId')"
                    [ngClass]="{
                      elementDisabled: !isPrimaryLanguage
                    }"></edci-controlled-list>
                  <ux-control-feedback *ngIf="legalIdentifierSpatialId.invalid && legalIdentifierSpatialId.touched" typeClass="danger">
                    {{ "error.required" | translate }}
                  </ux-control-feedback>
                </div>

                <div class="col-6">
                  <input
                    euiInputText
                    type="text"
                    class="form-control"
                    formControlName="content"
                    [attr.disabled]="language !== defaultLanguage ? '' : null"
                    placeholder="{{ 'common.identifier' | translate }}" />
                </div>
                <div class="">
                  <ux-control-feedback
                    *ngIf="legalIdentifier.invalid && legalIdentifier.errors?.required && legalIdentifier.touched"
                    typeClass="danger">
                    {{ "error.required" | translate }}
                  </ux-control-feedback>
                  <ux-control-feedback
                    *ngIf="legalIdentifier.invalid && legalIdentifier.errors?.onlySpaceError && legalIdentifier.touched"
                    typeClass="danger">
                    {{ "error.noBlankSpaceOnly" | translate }}
                  </ux-control-feedback>
                  <ux-control-feedback *ngIf="legalIdentifier.errors?.maxlength" typeClass="danger">
                    {{ "error.maxLength.255" | translate }}
                  </ux-control-feedback>

                  <ux-control-feedback *ngIf="legalIdentifier.errors?.legalIdentifierError && legalIdentifierContent.touched" typeClass="danger">
                    {{ "error.legalIdentifierError" | translate }}
                  </ux-control-feedback>
                </div>
              </div>
            </div>
          </div>

          <!-- eIDAS ID -->
          <div class="form-group col-6">
            <label class="d-inline-flex">
              {{ "credential-builder.organizations-tab.eIDAS" | translate }}
              <span uxTooltip="{{ 'credential-builder.organizations-tab.tooltips.eIDAS' | translate }}" position="top-left" size="large">
                <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
              </span>
            </label>
            <div class="row" formGroupName="eIDAS">
              <div class="col-6">
                <!--                                 <input euiInputText type="text" class="form-control" placeholder="{{
                                        'common.spatialId' | translate
                                    }}" formControlName="spatialId" [attr.disabled]="
                                        language !== defaultLanguage ? '' : null
                                    " /> -->
                <edci-controlled-list
                  entityType="country"
                  [isSingleSelection]="true"
                  [isPrimaryLanguage]="isPrimaryLanguage"
                  [selectedLanguages]="selectedLanguages"
                  [itemsSelected]="eIDASSpatialId.value"
                  [activeLanguage]="language"
                  (onError)="closeForm()"
                  (onItemSelectionChange)="onSpatialIdSelection($event, 'eIDAS')"
                  [ngClass]="{
                    elementDisabled: !isPrimaryLanguage
                  }"></edci-controlled-list>
              </div>
              <div class="col-6">
                <input
                  euiInputText
                  type="text"
                  class="form-control"
                  placeholder="{{ 'common.identifier' | translate }}"
                  formControlName="content"
                  [attr.disabled]="language !== defaultLanguage ? '' : null" />
                <!--                             <ux-control-feedback
                                    *ngIf="taxIdentifierContent.errors?.maxlength"
                                    typeClass="danger"
                                >
                                    {{ "error.maxLength.255" | translate }}
                                </ux-control-feedback> -->
              </div>
            </div>
            <ux-control-feedback *ngIf="eIDAS.errors?.legalIdentifierError && eIDASContent.touched" typeClass="danger">
              {{ "error.legalIdentifierError" | translate }}
            </ux-control-feedback>
          </div>
        </div>

        <div class="row">
          <!-- VAT Identifier -->
          <div class="form-group col-6 d-block">
            <label class="d-inline-flex">
              {{ "credential-builder.organizations-tab.vatIdentifier" | translate }}
              <span uxTooltip="{{ 'credential-builder.organizations-tab.tooltips.vatIdentifier' | translate }}" position="top-right" size="large">
                <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
              </span>
            </label>
            <div class="row" formGroupName="vatIdentifier">
              <div class="col-6">
                <!--                                 <input euiInputText type="text" class="form-control" placeholder="{{
                                        'common.spatialId' | translate
                                    }}" formControlName="spatialId" [attr.disabled]="
                                        language !== defaultLanguage ? '' : null
                                    " /> -->

                <edci-controlled-list
                  entityType="country"
                  [isSingleSelection]="true"
                  [isPrimaryLanguage]="isPrimaryLanguage"
                  [selectedLanguages]="selectedLanguages"
                  [itemsSelected]="vatIdentifierSpatialId.value"
                  [activeLanguage]="language"
                  (onError)="closeForm()"
                  (onItemSelectionChange)="onSpatialIdSelection($event, 'vat')"
                  [ngClass]="{
                    elementDisabled: !isPrimaryLanguage
                  }"></edci-controlled-list>

                <!--                                 <ux-control-feedback *ngIf="
                                        vatIdentifierSpatialId.errors?.maxlength
                                    " typeClass="danger">
                                    {{ "error.maxLength.255" | translate }}
                                </ux-control-feedback> -->
              </div>

              <div class="col-6">
                <input
                  euiInputText
                  type="text"
                  class="form-control"
                  placeholder="{{ 'common.identifier' | translate }}"
                  formControlName="content"
                  [attr.disabled]="language !== defaultLanguage ? '' : null" />
                <ux-control-feedback *ngIf="vatIdentifierContent.errors?.maxlength" typeClass="danger">
                  {{ "error.maxLength.255" | translate }}
                </ux-control-feedback>
              </div>
            </div>
            <ux-control-feedback *ngIf="vatIdentifier.errors?.legalIdentifierError && vatIdentifierContent.touched" typeClass="danger">
              {{ "error.legalIdentifierError" | translate }}
            </ux-control-feedback>
          </div>

          <div class="form-group col-6">
            <label class="d-inline-flex">
              {{ "credential-builder.organizations-tab.taxIdentifier" | translate }}
              <span uxTooltip="{{ 'credential-builder.organizations-tab.tooltips.taxIdentifier' | translate }}" position="top-left" size="large">
                <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
              </span>
            </label>
            <div class="row" formGroupName="taxIdentifier">
              <div class="col-6">
                <!--                                 <input euiInputText type="text" class="form-control" placeholder="{{
                                        'common.spatialId' | translate
                                    }}" formControlName="spatialId" [attr.disabled]="
                                        language !== defaultLanguage ? '' : null
                                    " /> -->

                <edci-controlled-list
                  entityType="country"
                  [isSingleSelection]="true"
                  [isPrimaryLanguage]="isPrimaryLanguage"
                  [selectedLanguages]="selectedLanguages"
                  [itemsSelected]="taxIdentifierSpatialId.value"
                  [activeLanguage]="language"
                  (onError)="closeForm()"
                  (onItemSelectionChange)="onSpatialIdSelection($event, 'tax')"
                  [ngClass]="{
                    elementDisabled: !isPrimaryLanguage
                  }"></edci-controlled-list>

                <!--                                 <ux-control-feedback *ngIf="
                                        taxIdentifierSpatialId.errors?.maxlength
                                    " typeClass="danger">
                                    {{ "error.maxLength.255" | translate }}
                                </ux-control-feedback> -->
              </div>
              <div class="col-6">
                <input
                  euiInputText
                  type="text"
                  class="form-control"
                  placeholder="{{ 'common.identifier' | translate }}"
                  formControlName="content"
                  [attr.disabled]="language !== defaultLanguage ? '' : null" />
                <ux-control-feedback *ngIf="taxIdentifierContent.errors?.maxlength" typeClass="danger">
                  {{ "error.maxLength.255" | translate }}
                </ux-control-feedback>
              </div>
            </div>
            <ux-control-feedback *ngIf="taxIdentifier.errors?.legalIdentifierError && taxIdentifierContent.touched" typeClass="danger">
              {{ "error.legalIdentifierError" | translate }}
            </ux-control-feedback>
          </div>
        </div>

        <!--                 <div class="row">
                    <div class="col-6">
                        <label class="d-inline-flex col-12">
                            {{
                                "credential-builder.organizations-tab.taxIdentifier"
                                    | translate
                            }}
                            <span
                                uxTooltip="{{
                                    'credential-builder.organizations-tab.tooltips.taxIdentifier'
                                        | translate
                                }}"
                                position="top-left"
                                size="large"
                            >
                                <eui-icon
                                    iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"
                                ></eui-icon>
                            </span>
                        </label>
                        <div
                            class="d-flex col-12 px-0"
                            formGroupName="taxIdentifier"
                        >
                            <div class="w-50 col-6">
                                <input
                                    euiInputText
                                    type="text"
                                    class="form-control"
                                    placeholder="{{
                                        'common.spatialId' | translate
                                    }}"
                                    formControlName="spatialId"
                                    [attr.disabled]="
                                        language !== defaultLanguage ? '' : null
                                    "
                                />
                                <ux-control-feedback
                                    *ngIf="
                                        taxIdentifierSpatialId.errors?.maxlength
                                    "
                                    typeClass="danger"
                                >
                                    {{ "error.maxLength.255" | translate }}
                                </ux-control-feedback>
                            </div>
                            <div class="w-50 col-6">
                                <input
                                    euiInputText
                                    type="text"
                                    class="form-control"
                                    placeholder="{{
                                        'common.identifier' | translate
                                    }}"
                                    formControlName="content"
                                    [attr.disabled]="
                                        language !== defaultLanguage ? '' : null
                                    "
                                />
                                <ux-control-feedback
                                    *ngIf="
                                        taxIdentifierContent.errors?.maxlength
                                    "
                                    typeClass="danger"
                                >
                                    {{ "error.maxLength.255" | translate }}
                                </ux-control-feedback>
                            </div>
                        </div>
                        <ux-control-feedback
                            *ngIf="
                                taxIdentifier.errors?.legalIdentifierError &&
                                taxIdentifierContent.touched &&
                                taxIdentifierSpatialId.touched
                            "
                            typeClass="danger"
                        >
                            {{ "error.legalIdentifierError" | translate }}
                        </ux-control-feedback>
                    </div>
                </div> -->

        <!-- Other Identifiers -->
        <div formArrayName="identifiers">
          <div class="form-group">
            <label class="d-inline-flex">
              {{ "credential-builder.organizations-tab.identifier" | translate }}
              <span uxTooltip="{{ 'credential-builder.organizations-tab.identifier.tooltip' | translate }}" position="top-left" size="large">
                <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
              </span>
            </label>
            <ng-container *ngFor="let identifier of identifiers.controls; let i = index; let last = last">
              <div [formGroupName]="i" class="row mb-2">
                <div class="col-5">
                  <input
                    euiInputText
                    type="text"
                    class="form-control mr-3"
                    placeholder="{{ 'credential-builder.organizations-tab.nameOfIdScheme' | translate }}"
                    formControlName="identifierSchemeAgencyName"
                    [euiDisabled]="language !== defaultLanguage" />
                  <ux-control-feedback *ngIf="identifiers.controls[i]['controls'].identifierSchemeAgencyName.errors" typeClass="danger">
                    {{ "error.maxLength.255" | translate }}
                  </ux-control-feedback>
                </div>

                <div class="col-5">
                  <input
                    euiInputText
                    type="text"
                    class="form-control mr-3"
                    placeholder="{{ 'common.identifier' | translate }}"
                    formControlName="id"
                    [euiDisabled]="language !== defaultLanguage" />
                  <ux-control-feedback *ngIf="identifiers.controls[i]['controls'].id.errors" typeClass="danger">
                    {{ "error.maxLength.255" | translate }}
                  </ux-control-feedback>
                  <ux-control-feedback *ngIf="identifiers.controls[i].errors?.identifierError" typeClass="danger">
                    {{ "error.identifierError" | translate }}
                  </ux-control-feedback>
                </div>

                <div class="col-2">
                  <button
                    euiButton
                    [euiIconButton]="true"
                    [euiBasicButton]="true"
                    [euiSizeM]="true"
                    (click)="addIdentifierRow()"
                    *ngIf="last"
                    styleClass="buttonSizeM"
                    [euiDisabled]="language !== defaultLanguage">
                    <span euiIcon iconClass="eui-icon eui-icon-add-circle eui-u-color-primary-110"> </span>
                    <span class="add-label"> {{ "common.add" | translate }} </span>
                  </button>
                  <button
                    euiButton
                    [euiIconButton]="true"
                    [euiBasicButton]="true"
                    [euiSizeM]="true"
                    (click)="removeIdentifierRow(i)"
                    *ngIf="identifiers.controls?.length > 1"
                    styleClass="buttonSizeM"
                    [euiDisabled]="language !== defaultLanguage">
                    <span euiIcon iconClass="eui-icon eui-icon-delete eui-u-color-primary-110"></span>
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="mt-4">
          <div class="form-title">
            {{ "common.moreInformation" | translate }}
          </div>
          <div class="gray-line mb-4"></div>
        </div>

        <!-- address  -->
        <div class="form-group" formArrayName="location">
          <label class="d-inline-flex mb-2 required">
            {{ "credential-builder.organizations-tab.subtitle.legalAddress" | translate }}
            <span
              uxTooltip="{{ 'credential-builder.organizations-tab.subtitle.legalAddress.tooltip' | translate }}"
              position="top-right"
              size="large">
              <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
            </span>
          </label>
          <ux-control-feedback *ngIf="location?.errors?.required && location.touched" typeClass="danger">
            {{ "error.required" | translate }}
          </ux-control-feedback>
          <div [formGroupName]="i" class="block-container" *ngFor="let addressCtrl of location.controls; let i = index; let first = first; trackByFn">
            <edci-address-form
              [formGroup]="getLocationById(i)"
              [language]="language"
              [isPrimaryLanguage]="isPrimaryLanguage"
              [selectedLanguages]="selectedLanguages"
              [isFirstGroupMember]="first"
              [itemIndex]="i"
              (deleteRow)="onDeleteLocationRow($event)"
              (addRow)="onAddLocationRow()"
              (onClose)="closeForm()"
              [showAddBtn]="false"></edci-address-form>
          </div>
        </div>

        <!-- contact information -->
        <label class="d-inline-flex mb-2 mt-4">
          {{ "credential-builder.organizations-tab.contactInfo" | translate }}
          <span uxTooltip="{{ 'credential-builder.organizations-tab.contactInfo.tooltip' | translate }}" position="top-right" size="large">
            <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
          </span>
        </label>

        <ng-container formArrayName="contactPoints">
          <div
            *ngFor="let contactPoint of contactPoints.controls; let i = index; let first = first; trackByFn"
            [formGroupName]="i"
            class="block-container">
            <div class="col-12 justify-content-end d-flex">
              <!-- Add button -->
              <button
                euiButton
                [euiIconButton]="true"
                [euiBasicButton]="true"
                [euiSizeM]="true"
                (click)="addContactPoint()"
                styleClass="buttonSizeM"
                [euiDisabled]="!isPrimaryLanguage"
                *ngIf="first">
                <span euiIcon iconClass="eui-icon eui-icon-add-circle eui-u-color-primary-110"></span>
                <span class="eui-u-color-primary-110 eui-u-font-bold">
                  {{ "credential-builder.addressForm.button.addAddress" | translate }}
                </span>
              </button>

              <!-- delete button -->
              <button
                euiButton
                [euiDisabled]="!isPrimaryLanguage"
                [euiIconButton]="true"
                [euiBasicButton]="true"
                [euiSizeM]="true"
                (click)="deleteContactPoint(i)"
                *ngIf="!first">
                <span euiIcon iconClass="eui-icon eui-icon-delete eui-u-color-primary-110"></span>
                <span class="eui-u-color-primary-110 eui-u-font-bold">
                  {{ "credential-builder.addressForm.button.deleteAddress" | translate }}
                </span>
              </button>
            </div>

            <!-- Description -->
            <div class="form-group">
              <label class="d-inline-flex control-label">
                {{ "credential-builder.organizations-tab.contactInformation.description" | translate }}
                <!-- <span
                  uxTooltip="{{ 'credential-builder.organizations-tab.contactInformation.description.tooltip' | translate }}"
                  position="top-right"
                  size="large">
                  <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
                </span> -->
              </label>

              <input
                euiInputText
                type="text"
                class=""
                placeholder="{{ 'credential-builder.organizations-tab.placeholder.contactInformation.description' | translate }}"
                formControlName="description"
                [euiDisabled]="language !== defaultLanguage" />
            </div>

            <!-- Address -->
            <div class="form-group">
              <label class="d-inline-flex control-label">
                {{ "credential-builder.organizations-tab.contactInformation.address" | translate }}
                <!--                 <span
                  uxTooltip="{{ 'credential-builder.organizations-tab.contactInformation.address.tooltip' | translate }}"
                  position="top-right"
                  size="large">
                  <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
                </span> -->
              </label>

              <input
                euiInputText
                type="text"
                class=""
                placeholder="{{ 'credential-builder.organizations-tab.placeholder.contactInformation.address' | translate }}"
                formControlName="address"
                [euiDisabled]="language !== defaultLanguage" />
            </div>

            <!-- Country -->
            <div class="form-group">
              <div class="required">
                <label class="d-inline-flex control-label">
                  {{ "credential-builder.organizations-tab.country" | translate }}
                </label>
                <edci-controlled-list
                  entityType="country"
                  [placeHolder]="'credential-builder.common.address.country' | translate"
                  [isSingleSelection]="true"
                  [isPrimaryLanguage]="isPrimaryLanguage"
                  [selectedLanguages]="selectedLanguages"
                  [activeLanguage]="language"
                  [itemsSelected]="getContactPointCountry(i).value"
                  (onError)="closeForm()"
                  (onItemSelectionChange)="onContactPointCountrySelectionChange($event, i)"
                  [ngClass]="{
                    elementDisabled: !isPrimaryLanguage
                  }"></edci-controlled-list>

                <ux-control-feedback *ngIf="formGroup.get(['contactPoints', i])?.errors?.countryRequired" typeClass="danger">
                  {{ "error.required" | translate }}
                </ux-control-feedback>
              </div>
            </div>

            <!-- Email -->
            <div class="form-group">
              <label class="d-inline-flex">{{ "credential-builder.organizations-tab.email" | translate }} </label>
              <input
                euiInputText
                placeholder="{{ 'credential-builder.common.placeholder.email' | translate }}"
                type="text"
                class="form-control"
                formControlName="email"
                [attr.disabled]="language !== defaultLanguage ? '' : null" />
              <ux-control-feedback *ngIf="formGroup.get(['contactPoints', i])?.errors?.emailRequired" typeClass="danger">
                {{ "error.conditionalRequirement" | translate }}
              </ux-control-feedback>
              <ux-control-feedback *ngIf="formGroup.get(['contactPoints', i, 'email'])?.errors?.maxlength" typeClass="danger">
                {{ "error.maxLength.255" | translate }}
              </ux-control-feedback>
              <ux-control-feedback
                *ngIf="
                  formGroup.get(['contactPoints', i, 'email'])?.invalid &&
                  formGroup.get(['contactPoints', i, 'email'])?.errors?.email &&
                  formGroup.get(['contactPoints', i, 'email'])?.touched
                "
                typeClass="danger">
                {{ "error.emailPattern" | translate }}
              </ux-control-feedback>
            </div>

            <div class="row form-group">
              <!-- Contact Form -->
              <div class="col-6">
                <label class="d-inline-flex">
                  {{ "credential-builder.organizations-tab.contactForm" | translate }}
                </label>
                <input
                  placeholder="{{ 'common.public.access.URL' | translate }}"
                  euiInputText
                  type="text"
                  class="form-control"
                  formControlName="contactForm"
                  [attr.disabled]="language !== defaultLanguage ? '' : null" />

                <ux-control-feedback *ngIf="formGroup.get(['contactPoints', i, 'contactForm'])?.errors?.maxlength" typeClass="danger">
                  {{ "error.maxLength.255" | translate }}
                </ux-control-feedback>

                <ux-control-feedback *ngIf="formGroup.get(['contactPoints', i, 'contactForm'])?.invalid 
                && formGroup.get(['contactPoints', i, 'contactForm'])?.errors?.pattern 
                && formGroup.get(['contactPoints', i, 'contactForm'])?.touched"
                  typeClass="danger">
                  {{ "error.urlPattern" | translate }}
                </ux-control-feedback>
              </div>

              <!-- Phone -->
              <div class="col-6">
                <label class="d-inline-flex">
                  {{ "credential-builder.organizations-tab.phone" | translate }}
                </label>
                <input
                  placeholder="{{ 'credential-builder.common.placeholder.phone' | translate }}"
                  euiInputText
                  type="text"
                  class="form-control"
                  formControlName="phone"
                  [attr.disabled]="language !== defaultLanguage ? '' : null" />
              </div>
            </div>
          </div>
        </ng-container>
        <!--  -->

        <!-- groups -->
        <div class="mt-4">
          <label class="d-inline-flex mt-4 mb-2">
            {{ "credential-builder.organizations-tab.groups" | translate }}

            <!-- <span uxTooltip="{{ 'credential-builder.organizations-tab.groups.tooltip' | translate }}" position="top-right" size="large">
              <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
            </span> -->
          </label>

          <ng-container *ngFor="let group of memberGroupsCtrls; let i = index; let last = last; trackByFn">
            <div class="block-container">
              <div class="justify-content-end d-flex">
                <!-- add groups button -->
                <button
                  euiButton
                  [euiIconButton]="true"
                  [euiBasicButton]="true"
                  [euiSizeM]="true"
                  (click)="addNewMemberGroupRow()"
                  styleClass="buttonSizeM"
                  [euiDisabled]="language !== defaultLanguage">
                  <span euiIcon iconClass="eui-icon eui-icon-add-circle eui-u-color-primary-110"></span>
                  <span class="eui-u-color-primary-110 eui-u-font-bold">{{
                    "credential-builder.organizations-tab.groups.addGroups" | translate
                  }}</span>
                </button>

                <!-- delete button -->
                <button
                  *ngIf="i !== 0"
                  [euiDisabled]="language !== defaultLanguage"
                  euiButton
                  [euiIconButton]="true"
                  [euiBasicButton]="true"
                  [euiSizeM]="true"
                  (click)="removeMemberGroupRow(i)">
                  <span euiIcon iconClass="eui-icon eui-icon-trash eui-u-color-primary-110"></span>
                </button>
              </div>
              <!-- group name -->
              <div class="form-group">
                <label
                  class="d-inline-flex"
                  [ngClass]="{
                    required: formsService.hasRequiredValidator(formsService.getFormGroupControl(group, 'name'))
                  }">
                  {{ "credential-builder.organizations-tab.groups.gName" | translate }}
                  <span uxTooltip="{{ 'credential-builder.organizations-tab.tooltips.groupName' | translate }}" position="top-right" size="large">
                    <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
                  </span>
                </label>
                <input
                  euiInputText
                  type="text"
                  class="form-control"
                  [formControl]="formsService.getFormGroupMultiLanguageControl(group, 'name', language)" />
                <ux-control-feedback *ngIf="formsService.getFormGroupMultiLanguageControl(group, 'name', language)?.errors?.required" typeClass="danger">
                  {{ "error.required" | translate }}
                </ux-control-feedback>
                <ux-control-feedback *ngIf="formsService.getFormGroupMultiLanguageControl(group, 'name', language)?.errors?.onlySpaceError" typeClass="danger">
                  {{ "error.noBlankSpaceOnly" | translate }}
                </ux-control-feedback>
                <ux-control-feedback *ngIf="formsService.getFormGroupMultiLanguageControl(group, 'name', language)?.errors?.maxlength" typeClass="danger">
                  {{ "error.maxLength.4000" | translate }}
                </ux-control-feedback>
              </div>
              <!-- email -->
              <div class="form-group">
                <label class="d-inline-flex">
                  {{ "credential-builder.organizations-tab.groups.gEmail" | translate }}
                  <span uxTooltip="{{ 'credential-builder.organizations-tab.tooltips.groupEmail' | translate }}" position="top-right" size="large">
                    <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
                  </span>
                </label>
                <input
                  [attr.disabled]="!isPrimaryLanguage ? true : null"
                  (change)="doCheckGroupNameRequired(group)"
                  placeholder="{{ 'credential-builder.common.placeholder.email' | translate }}"
                  euiInputText
                  type="text"
                  class="form-control"
                  [formControl]="formsService.getFormGroupControl(group,'email')" />
                <ux-control-feedback *ngIf="formsService.getFormGroupControl(group, 'email')?.errors?.email" typeClass="danger">
                  {{ "credential-builder.common.placeholder.email" | translate }}
                </ux-control-feedback>
                <ux-control-feedback *ngIf="formsService.getFormGroupControl(group, 'email').errors?.onlySpaceError" typeClass="danger">
                  {{ "error.noBlankSpaceOnly" | translate }}
                </ux-control-feedback>
                <ux-control-feedback *ngIf="formsService.getFormGroupControl(group, 'email').errors?.maxlength" typeClass="danger">
                  {{ "error.maxLength.4000" | translate }}
                </ux-control-feedback>
              </div>
            </div>
          </ng-container>
        </div>

        <div class="mt-5">
          <!-- Additional Information -->
          <div *ngIf="additionalInformation.controls[language]" class="form-group" [formGroup]="additionalInformation">
            <label class="d-inline-flex control-label">
              {{ "credential-builder.organizations-tab.moreInfo" | translate }}
              <!-- <span uxTooltip="{{ 'credential-builder.organizations-tab.moreInfo.tooltip' | translate }}" position="top-right" size="large">
                <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
              </span> -->
            </label>
            <textarea euiInputText euiTextArea rows="3" type="text" class="form-control" [formControl]="additionalInformationControl"></textarea>
            <ng-container *ngFor="let control of additionalInformation.controls | keyvalue">
              <ux-control-feedback
                *ngIf="control.key === language && control.value.invalid && control.value.errors?.required && control.value.touched"
                typeClass="danger">
                {{ "error.required" | translate }}
              </ux-control-feedback>
              <ux-control-feedback
                *ngIf="control.key === language && control.value.invalid && control.value.errors?.onlySpaceError && control.value.touched"
                typeClass="danger">
                {{ "error.noBlankSpaceOnly" | translate }}
              </ux-control-feedback>
              <ux-control-feedback *ngIf="control.key === language && control.value.errors?.maxlength" typeClass="danger">
                {{ "error.maxLength.4000" | translate }}
              </ux-control-feedback>
            </ng-container>
          </div>
        </div>

        <div>
          <div class="form-group">
            <label class="d-inline-flex">
              {{ "credential-builder.organizations-tab.modifiedDate" | translate }}
              <span uxTooltip="{{ 'credential-builder.organizations-tab.modifiedDate.tooltip' | translate }}" position="top-right" size="large">
                <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
              </span>
            </label>
            <eui-datepicker
              dateOutputFormat="DD/MM/YYYY HH:mm"
              formControlName="lastUpdateDate"
              [placeholder]="'dd/mm/yyyy hh:mm'"
              [isDatetimepicker]="true"
              [isDisabled]="language !== defaultLanguage"></eui-datepicker>
          </div>
        </div>

        <div class="blue-line mt-5 mb-4"></div>

        <div class="row">
          <!-- Label -->
          <div class="col-6">
            <div class="tags-wrapper">
              <label class="d-inline-flex control-label ml-3 tags-label">
                {{ "common.tag" | translate }}
                <span uxTooltip="{{ 'common.tooltip.tag' | translate }}" position="top-right" size="large">
                  <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
                </span>
              </label>
              <input
                placeholder="{{ 'credential-builder.organizations-tab.placeholder.tag' | translate }}"
                euiInputText
                type="text"
                class="form-control"
                [formControl]="label"
                [attr.disabled]="language !== defaultLanguage ? '' : null" />
              <ux-control-feedback *ngIf="label.errors?.maxlength" typeClass="danger">
                {{ "error.maxLength.30" | translate }}
              </ux-control-feedback>

              <ux-control-feedback *ngIf="label.invalid && label.errors?.onlySpaceError && label.touched" typeClass="danger">
                {{ "error.noBlankSpaceOnly" | translate }}
              </ux-control-feedback>
            </div>
          </div>

          <div class="col-6 justify-content-end d-flex">
            <edci-cb-modal-footer *ngIf="!isModal" (onClose)="closeForm()" (onSave)="onSave()" [isDisabled]="isSaveDisabled"></edci-cb-modal-footer>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="isLoading || isSaveDisabled" class="spinner-wrapper-full-screen">
    <mat-progress-spinner class="spinner" color="primary" mode="indeterminate" value="50"> </mat-progress-spinner>
  </div>

  <eui-message-box
    #messageBoxNewEntityWarning
    typeClass="warning"
    title="{{ 'common.warning' | translate | uppercase }}"
    acceptLabel="{{ 'Accept' | uppercase }}"
    dismissLabel="{{ 'Dismiss' | uppercase }}"
    (accept)="newEntityClicked(entityWillBeOpened, 'accept')">
    <p>{{ "credential-builder.formNewEntityWarning" | translate }}</p>
  </eui-message-box>

  <eui-message-box #messageBoxFormError typeClass="warning" title="{{ 'common.warning' | translate | uppercase }}" messageBoxType="ok">
    <p>{{ "credential-builder.formError" | translate }}</p>
  </eui-message-box>
</div>
