<div class="credential-owner-main-panel" *ngIf="subject">
    <edci-panel [title]="subject?.fullName ? subject.fullName : 'Credential Owner'" [isMainPanel]="true"
        [isExpanded]="true">

        <section *ngIf="subject?.birthName" class="row">
            <h6 class="col-12">{{ 'details.credential-subject-tab.birthName' | translate }}</h6>
            <p class="col-12">
                {{ subject.birthName }}
            </p>
        </section>

        <section *ngIf="subject?.patronymicName" class="row">
            <h6 class="col-12">{{ 'details.credential-subject-tab.patronymicName' | translate }}</h6>
            <p class="col-12">
                {{ subject.patronymicName }}
            </p>
        </section>

        <section *ngIf="subject?.citizenshipCountry?.length > 0" class="row">
            <h6 class="col-12">{{ 'details.credential-subject-tab.citizenship' | translate }}
            </h6>
            <p *ngFor="let country of subject?.citizenshipCountry" class="col-12">
                {{ country }}
            </p>
        </section>

        <section *ngIf="subject?.gender" class="row">
            <h6 class="col-12">{{'details.credential-subject-tab.gender' | translate}}</h6>
            <p class="col-12">
                {{ subject.gender }}
            </p>
        </section>

        <section *ngIf="subject?.placeOfBirth?.address.length > 0" class="row">
            <h6 class="col-12">{{'details.credential-subject-tab.placeOfBirth' | translate}}</h6>
            <p *ngFor="let address of subject.placeOfBirth.address" class="col-12">
                {{ subject.placeOfBirth.spatialCode ? [ subject.placeOfBirth.spatialCode.join(', ') , address.countryCode ].join(', ') : address.countryCode }}
            </p>
        </section>

        <section *ngIf="subject?.dateOfBirth" class="row">
            <h6 class="col-12">{{'details.credential-subject-tab.dateOfBirth' | translate}}</h6>
            <p class="col-12">
                {{ subject.dateOfBirth }}
            </p>
        </section>

        <section *ngIf="subject?.groupMemberOf?.length > 0" class="row">
            <h6 class="col-12">{{'details.credential-subject-tab.memberOf' | translate}}</h6>
            <p *ngFor="let group of subject?.groupMemberOf" class="col-12">
                {{ group.prefLabel}}
            </p>
        </section>

        <edci-panel *ngFor="let contact of subject?.contactPoint" [title]="'details.contacts.title' | translate">
            <edci-contact-detail [contact]="contact">
            </edci-contact-detail>
        </edci-panel>


        <edci-panel *ngIf="subject?.identifiers || subject?.nationalID" [title]="'details.identifiers.title' | translate">
            <edci-viewer-identifiers [nationalID]="subject?.nationalID" [identifiers]="subject?.identifier">
            </edci-viewer-identifiers>
        </edci-panel>
        <!--  <div>
            <p class="awarded-by_text mb-4">
                {{getName()}}
            </p>
        </div>
        <div class="awarded-by_info-data flex-grow-1 mr-3">
            <ng-container *ngIf="subject?.hasLocation">
                <div class="d-flex align-items-center mb-4">
                    <img
                        class="mr-2 align-self-start"
                        src="assets/icons/icon-building.svg"
                    />
                    <div class="d-flex flex-column mr-2">
                        <div *ngFor="let location of subject.hasLocation">
                            <p>
                                {{
                                    [
                                        location.geographicName,
                                        location.address[0].fullAddress,
                                        location.address[0].countryCode
                                    ] | edciJoin: ', '
                                }}
                            </p>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container>
                <div *ngIf="subject?.citizenshipCountry?.length > 0" class="mr-4 mb-3">
                    <div class="d-flex f-14">
                        <p class="item-title">
                            {{
                                'details.credential-subject-tab.citizenship'
                                    | translate
                            }}
                        </p>
                        {{ subject.citizenshipCountry | edciJoin: ', ' }}
                    </div>
                </div>
                <div *ngIf="subject?.gender" class="mr-4 mb-3">
                    <div class="d-flex f-14">
                        <p class="item-title">
                            {{
                                'details.credential-subject-tab.gender'
                                    | translate
                            }}
                        </p>
                        {{ subject.gender }}
                    </div>
                </div>
                <div *ngIf="subject?.placeOfBirth?.address" class="mr-4 mb-3">
                    <div class="d-flex f-14">
                        <p class="item-title">
                            {{
                                'details.credential-subject-tab.placeOfBirth'
                                    | translate
                            }}
                        </p>
                        {{ subject.placeOfBirth.address | edciAddressJoin: ', ' }}
                    </div>
                </div>
                <div *ngIf="subject?.dateOfBirth" class="mr-4 mb-3">
                    <div class="d-flex f-14">
                        <p class="item-title">
                            {{
                                'details.credential-subject-tab.dateOfBirth'
                                    | translate
                            }}
                        </p>
                        {{ subject.dateOfBirth }}
                    </div>
                </div>
                <ng-container *ngIf="subject?.nationalId || subject?.identifier?.length > 0">
                    <div class="d-flex f-14 mb-3">
                        <div class="d-flex flex-wrap gap-3">
                            <div
                                *ngIf="subject?.nationalId"
                                class="mr-4 mb-1"
                            >
                                <div class="d-flex">
                                    <p class="item-title">
                                        {{
                                            'details.credential-subject-tab.nationalIdentifier'
                                                | translate
                                        }}
                                    </p>
                                    {{ subject.nationalId}}
                                </div>
                            </div>
                            <ng-container
                                *ngFor="
                                    let otherIdentifier of subject.identifier;
                                "
                            >
                                <div
                                    *ngIf="otherIdentifier?.content"
                                    class="mr-4 mb-1"
                                >
                                    <div class="d-flex">
                                        <p class="item-title">
                                            {{
                                                'details.credential-subject-tab.content'
                                                    | translate
                                            }}
                                        </p>
                                        {{ otherIdentifier.content}}
                                    </div>
                                </div>
                                <div
                                    *ngIf="otherIdentifier?.identifierSchemeId"
                                    class="mr-4 mb-1"
                                >
                                    <div class="d-flex">
                                        <p class="item-title">
                                            {{
                                                'details.credential-subject-tab.identifierSchemeId'
                                                    | translate
                                            }}
                                        </p>
                                        {{ otherIdentifier.identifierSchemeId}}
                                    </div>
                                </div>
                                <div
                                    *ngIf="otherIdentifier?.spatialId"
                                    class="mr-4 mb-1"
                                >
                                    <div class="d-flex">
                                        <p class="item-title">
                                            {{
                                                'details.credential-subject-tab.spatialId'
                                                    | translate
                                            }}
                                        </p>
                                        {{ otherIdentifier.spatialId}}
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="subject?.contactPoint">
                <!--edci-contact>
                </edci-contact>
            </ng-container>
        </div>-->
    </edci-panel>
</div>