<div class="html-template-form container">
    <div class="breadcrumb__wrapper my-4" *ngIf="!isModal">
        <edci-breadcrumb [parts]="parts"></edci-breadcrumb>
    </div>

    <div class="gray-line"></div>

    <h1 class="my-3 page-title">
        {{ modalTitle }}
    </h1>

    <div class="page-subtitle">
        {{ "credential-builder.html-templates-tab.subtitle" | translate }}
    </div>
    <div class="eui-u-mb-3xl page-subtitle">
        <span>{{ "credential-builder.html-templates-tab.subtitle-help" | translate }}</span>
        <span class="mr-1 ml-1">
            <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
        </span>
        <span>{{ "credential-builder.html-templates-tab.subtitle-help-2" | translate }}</span>
    </div>

    <edci-cb-language-tabs *ngIf="selectedLanguages?.length > 0" [(selectedLanguages)]="selectedLanguages"
        [language]="language" (onLanguageChange)="languageTabSelected($event)"
        (onLanguageRemoved)="languageRemoved($event)" (onLanguageAdded)="languageAdded($event)"></edci-cb-language-tabs>
    <div class="cb-modal-form-wrapper">
        <div class="form-content-wrapper">
            <form [formGroup]="formGroup">
                <!-- form title -->
                <div class="form-title">
                    {{ "credential-builder.HTMLTemplates" | translate }}
                </div>

                <div class="gray-line mb-5"></div>

                <!-- HTML textarea -->
                <div *ngIf="html" class="form-group mb-5">
                    <div class="d-inline-flex mb-2">
                        <div class="row">
                            <div class="col-12">
                                <label class="d-inline-flex required">
                                    {{ "common.html" | translate }}
                                </label>
                            </div>
                            <div class="col-12">
                                <span>{{'credential-builder.html-templates.learn.text' | translate}}</span>
                                <a [href]="learnLink" target="_blank"
                                    class="eui-u-font-italic eui-u-text-underline">{{'credential-builder.html-templates.learn.link.text'
                                    | translate}}</a>
                                <span>{{'credential-builder.html-templates.learn.text-2' | translate}}</span>

                            </div>
                        </div>

                    </div>

                    <textarea euiTextArea class="html-body form-control" [formControl]="html" rows="3"
                        [euiDisabled]="language !== defaultLanguage"></textarea>
                    <ux-control-feedback *ngIf="
                            html.invalid &&
                            html.errors?.required &&
                            html.touched
                        " typeClass="danger">
                        {{ "error.required" | translate }}
                    </ux-control-feedback>

                    <ux-control-feedback
                    *ngIf="
                        html.invalid &&
                        html.errors?.onlySpaceError &&
                        html.touched
                    "
                    typeClass="danger"
                >
                    {{ "error.noBlankSpaceOnly" | translate }}
                </ux-control-feedback>
                </div>

                <!-- File upload -->
                <div *ngIf="file" class="form-group">
                    <div class="d-inline-flex">
                        <label class="d-inline-flex">
                            {{
                            "credential-builder.html-templates-tab.background"
                            | translate
                            }}
                        </label>
                        <span uxTooltip="{{
                                'credential-builder.html-templates-tab.tooltips.background'
                                    | translate
                            }}" position="top-right" size="large">
                            <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
                        </span>
                    </div>
                    <div>
                        <div *ngIf="backgroundPreviewURL" style="display: flex">
                            <img *ngIf="backgroundPreviewURL" src="{{ backgroundPreviewURL }}"
                                [height]="isLogoNotAvailable ? '100' : '200'" [title]="
                                    isLogoNotAvailable
                                        ? 'Preview not available'
                                        : ''
                                " class="mb-3" />
                            <button euiButton [euiIconButton]="true" [euiBasicButton]="true" [euiSizeM]="true"
                                (click)="deleteBackground()">
                                <span euiIcon iconClass="eui-icon eui-icon-trash-o"></span>
                            </button>
                        </div>
                        <edci-upload styleClass="logo-upload-button" [label]="
                                'credential-builder.organizations-tab.upload-logo'
                                    | translate
                            " [isIconOnly]="false" [isSecondary]="true" [allowedFiles]="imageExtensions"
                            [needsConfirmation]="false" [maxUploadSizeMBCustom]="1"
                            (newDocuments)="onNewBackgroundFile($event)"></edci-upload>
                    </div>
                </div>

                <!-- Tags -->
                <div class="mt-5">
                    <edci-custom-html-labels *ngIf="selectedLanguages?.length > 0" [tooltip]="
                            'credential-builder.html-templates-tab.tooltips.labels'
                                | translate
                        " [defaultLanguage]="defaultLanguage" [activeLanguage]="language"
                        [selectedLanguages]="selectedLanguages" [removedLanguage]="removedLanguage"
                        [addedLanguage]="addedLanguage" [customLabelsEdit]="customLabelsEdit"
                        (onValueChange)="labelValueChange($event)"
                        (isValid)="labelValidityChange($event)"></edci-custom-html-labels>
                </div>

                <div class="blue-line mt-5 mb-4"></div>

                <div class="buttons-wrapper mb-5">
                    <!-- Label input -->
                    <div class="form-group">
                        <div class="tags-wrapper">
                            <label class="d-inline-flex control-label required ml-3 tags-label">
                                {{ "common.tag" | translate }}
                            </label>
                            <span class="mr-2" uxTooltip="{{
                                    'common.tooltip.tag'
                                        | translate
                                }}" position="top-right" size="large">
                                <eui-icon iconClass="eui-icon-info-circle-thin eui-u-color-primary-110"></eui-icon>
                            </span>
                            <input euiInputText type="text" class="form-control" [formControl]="label" [attr.disabled]="
                                    language !== defaultLanguage ? '' : null
                                " placeholder="{{
                                    'tags.placeholder' | translate
                                }}" />
                        </div>

                        <ux-control-feedback *ngIf="label.errors?.maxlength" typeClass="danger">
                            {{ "error.maxLength.30" | translate }}
                        </ux-control-feedback>

                        <ux-control-feedback *ngIf="
                                label.invalid &&
                                label.errors?.required &&
                                label.touched
                            " typeClass="danger">
                            {{ "error.required" | translate }}
                        </ux-control-feedback>

                        <ux-control-feedback *ngIf="
                                label.invalid &&
                                label.errors?.onlySpaceError &&
                                label.touched
                            " typeClass="danger">
                            {{ "error.noBlankSpaceOnly" | translate }}
                        </ux-control-feedback>
                    </div>

                    <edci-cb-modal-footer *ngIf="!isModal" (onClose)="closeForm()" (onSave)="onSave()"
                        [isDisabled]="isLoading"></edci-cb-modal-footer>
                </div>
            </form>
        </div>
    </div>

    <!--     <div class="col-12 d-flex justify-content-end m-4" *ngIf="!isModal">
        <edci-cb-modal-footer
            (onClose)="closeForm()"
            (onSave)="onSave()"
            [isDisabled]="isLoading"
        ></edci-cb-modal-footer>
    </div> -->

    <div *ngIf="isLoading" class="spinner-wrapper-full-screen">
        <mat-progress-spinner class="spinner" color="primary" mode="indeterminate" value="50">
        </mat-progress-spinner>
    </div>

    <eui-message-box #messageBoxFormError typeClass="warning" title="{{ 'common.warning' | translate | uppercase }}"
        messageBoxType="ok">
        <p>{{ "credential-builder.formError" | translate }}</p>
    </eui-message-box>
</div>