<section id="learningOutcomes">
    <h2 class="ml-3 mb-2 font-weight-bold">{{'credential-builder.activities' | translate}}</h2>
    <edci-cb-tab-header
        title="{{ 'credential-builder.activities-tab.title' | translate }}"
        buttonLabel="{{
            'credential-builder.activities-tab.newActivity' | translate
        }}"
        (onClick)="newActivity()"
    >
    </edci-cb-tab-header>

    <edci-input-search
        title="{{ 'app.filter.by' | translate }}"
        placeHolder="{{ 'app.search.button' | translate }}"
        entityType="activity"
        (onEmittedOCBQuery)="onEmittedOCBQueryChange($event)">
    </edci-input-search>

        <div
            *ngIf="!noActivitiesAddedYet; else noItem"
            class="col-12 p-0"
            style="display: flex"
        >
            <div
                class="col-12 pl-0 pr-0 overflow-auto-credential-builder"
            >
                <edci-cb-table
                    [items]="activities"
                    [perPage]="perPage"
                    [totalItems]="totalItems"
                    [loading]="loading"
                    [sortField]="sort"
                    [selectedItem]="activeActivity"
                    (onDelete)="onDelete($event)"
                    (onEdit)="onEdit($event)"
                    (onDuplicate)="onDuplicate($event)"
                    (onPage)="onPage($event)"
                    (onSort)="onSort($event)"
                ></edci-cb-table>
            </div>

        </div>
        <ng-template #noItem>
            <div class="vh-40">
                <div *ngIf="!loading" class="no-item text-center">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="129"
                        height="103"
                        viewBox="0 0 129 103"
                        class="credential-icon"
                    >
                        <g fill="#9D9D9D" fill-rule="nonzero" opacity=".527">
                            <path
                                d="M118.636 19.26a2.303 2.303 0 0 0-1.625-.663h-.001a7.056 7.056 0 0 1-7.065-6.747 2.298 2.298 0 0 0-2.302-2.194H20.911a2.298 2.298 0 0 0-2.302 2.195c-.163 3.616-3.123 6.576-6.739 6.739a2.297 2.297 0 0 0-2.195 2.302v48.342c0 1.235.964 2.246 2.195 2.301 3.616.163 6.576 3.123 6.74 6.74a2.298 2.298 0 0 0 2.301 2.194h55.214a1.87 1.87 0 1 0 0-3.74H22.198a10.732 10.732 0 0 0-8.782-8.782v-45.77a10.732 10.732 0 0 0 8.782-8.78h84.16a10.788 10.788 0 0 0 9.226 8.847v31.76a1.87 1.87 0 0 0 3.741 0V20.902c0-.623-.245-1.206-.689-1.643z"
                            />
                            <path
                                d="M123.75 0H5.25C2.354 0 0 2.32 0 5.17v78.773c0 2.85 2.355 5.17 5.25 5.17h79.377l-2.81 5.799a2.178 2.178 0 0 0 .228 2.278c.502.66 1.329.99 2.155.859l5.232-.828 2.919 4.717a2.251 2.251 0 0 0 2.032 1.059 2.246 2.246 0 0 0 1.913-1.257l5.071-10.464 5.07 10.464a2.245 2.245 0 0 0 2.029 1.26c.781 0 1.508-.4 1.917-1.061l2.919-4.718 5.232.829c.829.13 1.654-.2 2.155-.86.502-.661.59-1.534.228-2.277l-2.81-5.8h5.644c2.894 0 5.249-2.319 5.249-5.17V5.17c0-2.85-2.355-5.17-5.25-5.17zM94.106 97.614l-1.98-3.2a2.25 2.25 0 0 0-2.274-1.032l-3.36.532 3.539-7.303a6.799 6.799 0 0 0 5.445 1.968 2.986 2.986 0 0 1 1.99.524c.19.134.388.252.588.364l-3.948 8.147zm7.713-11.043l-.018.002a3.016 3.016 0 0 1-.865 0l-.021-.002a2.974 2.974 0 0 1-1.259-.503 6.808 6.808 0 0 0-4.537-1.198 2.962 2.962 0 0 1-2.964-1.685 6.615 6.615 0 0 0-.872-1.384l-.048-.061-.056-.069a1.718 1.718 0 0 0-.068-.073 6.723 6.723 0 0 0-2.278-1.684 2.904 2.904 0 0 1-1.711-2.92 6.561 6.561 0 0 0-1.216-4.468 2.875 2.875 0 0 1 0-3.37 6.56 6.56 0 0 0 1.216-4.47 2.904 2.904 0 0 1 1.71-2.919 6.686 6.686 0 0 0 3.323-3.27 2.965 2.965 0 0 1 2.964-1.686c1.61.15 3.22-.276 4.538-1.198a2.994 2.994 0 0 1 3.422 0 6.822 6.822 0 0 0 4.538 1.198 2.962 2.962 0 0 1 2.964 1.685 6.685 6.685 0 0 0 3.322 3.271 2.905 2.905 0 0 1 1.711 2.92 6.56 6.56 0 0 0 1.216 4.468 2.875 2.875 0 0 1 0 3.37 6.562 6.562 0 0 0-1.216 4.47 2.905 2.905 0 0 1-1.711 2.919 6.725 6.725 0 0 0-2.274 1.68c-.026.025-.05.052-.074.08l-.049.059c-.019.023-.038.047-.055.071a6.607 6.607 0 0 0-.87 1.381 2.964 2.964 0 0 1-2.964 1.685 6.824 6.824 0 0 0-4.538 1.198 2.973 2.973 0 0 1-1.26.503zm11.065 6.81a2.251 2.251 0 0 0-2.274 1.034l-1.98 3.2-3.948-8.148c.2-.112.398-.23.589-.364a2.984 2.984 0 0 1 1.99-.525 6.797 6.797 0 0 0 5.444-1.967l3.54 7.303-3.36-.532zm12.335-9.438c0 .797-.658 1.445-1.467 1.445h-7.449l-.975-2.012c.05-.026.098-.053.149-.076 2.604-1.173 4.173-3.849 3.903-6.657a2.877 2.877 0 0 1 .533-1.96 6.557 6.557 0 0 0 0-7.686 2.877 2.877 0 0 1-.533-1.96c.27-2.807-1.299-5.483-3.903-6.657a2.934 2.934 0 0 1-1.457-1.434c-1.192-2.565-3.91-4.11-6.76-3.844a2.984 2.984 0 0 1-1.99-.525 6.826 6.826 0 0 0-7.805 0 2.987 2.987 0 0 1-1.99.525c-2.854-.264-5.568 1.279-6.76 3.844a2.933 2.933 0 0 1-1.456 1.434c-2.604 1.174-4.173 3.849-3.903 6.657a2.877 2.877 0 0 1-.533 1.96 6.557 6.557 0 0 0 0 7.686c.41.57.6 1.265.533 1.96-.27 2.808 1.299 5.484 3.903 6.657.05.023.1.05.149.075l-.975 2.013H5.249a1.458 1.458 0 0 1-1.467-1.445V5.17c0-.797.658-1.445 1.467-1.445h118.502c.809 0 1.467.648 1.467 1.445v78.773z"
                            />
                            <path
                                d="M101.588 59.547c-6.224 0-11.288 5.054-11.288 11.265 0 6.212 5.064 11.266 11.288 11.266s11.287-5.054 11.287-11.266-5.063-11.265-11.287-11.265zm0 18.905c-4.221 0-7.655-3.427-7.655-7.64 0-4.212 3.434-7.639 7.655-7.639 4.22 0 7.654 3.427 7.654 7.64 0 4.212-3.434 7.639-7.654 7.639z"
                            />
                        </g>
                    </svg>

                    <h3 class="mt-4">
                        {{
                            'credential-builder.activities-tab.noActivities'
                                | translate
                        }}
                    </h3>
                </div>
            </div>
        </ng-template>
</section>
