.entitlement-information {
    edci-panel {
        --edci-panel-content-padding-bottom: 0;
    }

    &-row {
        &_item {
            flex-basis: calc(100% / 3);
            padding: 0 4px 22px;
        }
    }

}
