@media (min-width: 480px) {
    .edci-container {
        max-width: 100%;
        width: 996px;
    }
}

@media (min-width: 1140px) {
    .edci-container {
        max-width: 100%;
        width: 1140px;
    }
}

.edci-container {
    min-width: 996px;
}

.vh-40 {
    height: 40vh;
}

.vh-60 {
    height: 60vh;
}

.no-shadow {
    box-shadow: none !important;
}

.lh-32 {
    line-height: 32px;
}

.size-18 {
    font-size: 18px;
}

.pre-wrap {
    white-space: pre-wrap;
}

.flex-end {
    align-items: flex-end;
}

.font-100 {
    span {
        font-size: 100% !important;
    }
}